@{
    ViewBag.Title = "Gestión";
    ViewBag.Section = "Cliente";
    Layout = "~/Views/_Layout.cshtml";
}
@section styles_link {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css" />
    @Html.StyleLink("css/plugins/chosen/bootstrap-chosen.css")
    @Html.StyleLink("css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css")
    @Html.StyleLink("css/plugins/jquery-confirm-master/jquery-confirm.css")
    <style>
        .btn-confirm-normal{
            font-weight: normal !important; 
            text-transform: none !important;
        }
        body {
            overflow-y:hidden;
        }
    </style>
}
@section scripts_link {
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    @Html.JavaScriptLink("js/plugins/slimscroll/jquery.slimscroll.min.js")
    @Html.JavaScriptLink("js/plugins/chosen/chosen.jquery.js")
    @Html.JavaScriptLink("js/plugins/jquery-confirm-master/jquery-confirm.js")
    <script>
        function editClient(clientId) {
            window.location.href = 'http://localhost:120/Finantial/Client/Edit?idClient='+clientId;
        }
        function detail(clientId) {
            window.location.href = 'http://localhost:120/Finantial/Client/ViewDetail?idClient=' + clientId;
        }
        function changeStateClient(clientId) {
            $.alert({
                title: 'Confirmación',
                content: '<p>Deseas cambiar el estado del cliente ' + clientId + '</p>',
                animation: 'zoom',
                closeAnimation: 'zoom',
                type: 'green',
                buttons: {
                    confirm: {
                        text: 'Aceptar',
                        btnClass: 'btn-primary btn-confirm-normal btn-confirm',
                        action: function () {
                            var span = this.$content.find('p');
                            $.ajax({method: "POST", url: "/Finantial/Client/ClientChangeState", data: {clientId: clientId}, async: false})
                                 .done(function (result) {
                                     if (result == "True") {
                                         span.html('Se actualizo correctamente el estado.');
                                         $('.btn-confirm').hide();
                                     }
                                 })
                                .fail(function (result) {
                                    toastr.error(result.statusText, "Mensaje", {positionClass: "toast-top-full-width"});
                                });
                            return false;
                        }
                    },
                    cancel: {
                        text: 'Cancelar',
                        btnClass: 'btn-danger btn-confirm-normal',
                        action: function () {
                            $("#btnSearchClient").click();
                        }
                    },
                }
            });
        }
    </script>

}
@section section_script {
    var tblInvoices = $("#tblInvoices").DataTable({
     searching: false,
     dom: 'Bfrtip',
     buttons: [{
         text: 'Agregar',
         action: function(e, dt, node, config) {
             window.location.href = './Insert';
         }
     }],
     columns: [{
             data: "Id",
             width: "9%"
         },
         {
             data: "Type",
             width: "9%"
         },
         {
             data: "DocumentCode",
             width: "11%"
         },
         {
             data: "Name",
             width: "25%"
         },
         {
             data: "Phone",
             width: "8%"
         },
         {
             data: "Email",
             width: "11%"
         },
         {
             data: "State",
             width: "3%",
             render: function(data, type, full, meta) {
                 var invoiceId = '"' + full.ClientCode + '"';
                 if(data=="Activo") return "<span class='label label-success' style='cursor: pointer;' onclick='changeStateClient(" + invoiceId + ");'>"+data+" <i class='fa fa-refresh' aria-hidden='true'></i></span>";    
                 if(data=="Inactivo") return "<span class='label label-warning' style='cursor: pointer;' onclick='changeStateClient(" + invoiceId + ");'>"+data+" <i class='fa fa-refresh' aria-hidden='true'></i></span>";    
                 return "<span class='label label-primary'>"+data+"</span>";    
             }
         },
         {
             orderable: false,
             className: "text-center",
             render: function(data, type, full, meta) {
                 var invoiceId = '"' + full.ClientCode + '"';
                 var buttonSearch = "<button type='button' class='btn btn-outline btn-primary' onclick='detail(" + invoiceId + ");'><i class='fa fa-eye' aria-hidden='true'></i></button>&nbsp;";
                 var buttonEdit = "";
                 if(full.ClientState == "Activo") {
                     buttonEdit = "<button type='button' class='btn btn-outline btn-success' onclick='editClient(" + invoiceId + ");'><i class='fa fa-pencil' aria-hidden='true'></i></button>&nbsp;"
                 }
                 else {
                     buttonEdit = "<button style='cursor: pointer; background-color: #807C7B !important; border-color: #807C7B !important;' type='button' class='btn btn-outline btn-success' onclick='editClient(" + invoiceId + ");' disabled='disabled'><i class='fa fa-pencil' style='color:#323032!important;' aria-hidden='true'></i></button>&nbsp;"
                 }                     
                 return buttonSearch + buttonEdit;
             },
             width: "15%"
         }
     ],
     scrollY : '42hv',
     "scrollCollapse" : true,
     language: {
         url: "@Html.SourceLink("js/plugins/dataTables/datatables-spanish.json")"
     },
     initComplete: function(settings, json) {
         $('.dataTables_scrollBody').slimscroll({
              height: '42vh',
              disableFadeOut : false
         });
         $(".dt-button").removeClass("dt-button").addClass("btn btn-w-m btn-default").wrap("<div class='col-md-6' style='padding-left: 0px;'></div>");

         $(".dt-buttons").addClass("col-md-12").attr("style", "padding-left: 0px; padding-right: 0px;");

         $("#tblInvoices_wrapper .dt-buttons").append('<div class="col-md-6 pull-right"><div class="row"><div class="col-md-2"></div><div class="input-group col-md-10"><input id="txtFilterClient" class="form-control" type="text"><span class="input-group-btn" style="width:1%!important;"><a id="btnSearchClient" href="#" class="btn btn-primary" disabled="true">Buscar&nbsp;<i class="fa fa-search"></i></a></span></div></div></div>');

         $("#txtFilterClient").keyup(function(event) {
             var value = $("#txtFilterClient").val();
             var btnSearch = $("#btnSearchClient");
             if (value.length >= 3) {
                 btnSearch.removeAttr("disabled");
             } else {
                 btnSearch.attr("disabled", "true");
             }
         });

        $("#btnSearchClient").on("click", function() {
            var clientFilter =  $("#txtFilterClient").val();
             $.ajax({method: "GET", url: "/Finantial/Client/Index_PopulateClient", data: {filter: clientFilter}, timeout: 70000})
                 .done(function(result) {
                     var objResult = jQuery.parseJSON(result);
                     tblInvoices.clear().rows.add(objResult).draw();
                 })
                .fail(function(result) {
                     toastr.error(result.statusText, "Mensaje", {
                         positionClass: "toast-top-full-width"
                     });
                 });
         });
     }
 });
}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="table-responsive">
                    <table id="tblInvoices" class="table table-striped table-bordered table-hover scroll" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Tipo</th>
                                <th>DNI / RUC</th>
                                <th>Razón Social</th>
                                <th>Telefono</th>
                                <th>Correo</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
