@{
    var action = ViewData["action"];
    ViewBag.Title = "Agregar";
    if (action != null && (string)action == "2")
    {
        ViewBag.Title = "Actualizar";
    }
    ViewBag.Section = "Gestion de clientes";
    Layout = "~/Views/_Layout.cshtml";
    var clientId = ViewData["idClient"];
}

@section styles_link {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css" />
    @Html.StyleLink("css/plugins/chosen/bootstrap-chosen.css")
    @Html.StyleLink("css/plugins/iCheck/custom.css");
    @Html.StyleLink("css/plugins/steps/jquery.steps.css");
    @Html.StyleLink("css/plugins/datapicker/datepicker3.css")
}

@section scripts_link {
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    @Html.JavaScriptLink("js/plugins/chosen/chosen.jquery.js")
    @Html.JavaScriptLink("js/plugins/datapicker/bootstrap-datepicker.js")
    @Html.JavaScriptLink("js/plugins/moment/moment.min.js")
    @Html.JavaScriptLink("js/plugins/moment/moment-es.js")
}

@section section_script {
    moment.locale('es');
    $("#hddCountReciber").val("0");
    $("#hddCountInvoicer").val("0");

    $("#dpckRegister").datepicker({
    format: "dd/mm/yyyy"
    });

    $("#chkDepartment").chosen({
    width: "100%"
    });
    var action = $("#txtAction").val();
    var numFieldFilled = 0;


    var tblReciber = $("#tblReciber").DataTable({
    searching: false,
    dom: 'Bfrtip',
    buttons:[{ text: 'Agregar'}],
    columns:[{ data: "Address", width: "12%" },
    { data: "CodPostal", width: "8%" },
    { data: "Department", width: "8%" },
    { data: "Province", width: "8%" },
    { data: "District", width: "8%" },
    { data: "Country", width: "8%" },
    { data: "City", width: "8%" },
    { data: "Zone", width: "8%" },
    { data: "Route", width: "8%" },
    { data: "Phone", width: "8%" },
    { data: "Fax", width: "8%" },
    { data: "Contact", width: "8%" }],
    language: { url: "@Html.SourceLink("js/plugins/dataTables/datatables-spanish.json")" },
    initComplete: function( settings, json ) {
    var btnAddReciber = $("#tblReciber_wrapper .dt-button");

    btnAddReciber.removeClass("dt-button").addClass("btn btn-w-m btn-default");
    btnAddReciber.on("click", function () {
    var reciber_count = parseInt($("#hddCountReciber").val());
    var totalFilled = 0;
    var row = {};
    row.Address = "<input id='it_1_"+reciber_count+"' class='form-control' style='width:100%' name='txtReciberAddress_"+reciber_count+"'>";
    row.CodPostal = "<input id='it_2_"+reciber_count+"' class='form-control' style='width:100%' name='txtReciberPostal_"+reciber_count+"'>";
    row.Department = "<input id='it_3_"+reciber_count+"' class='form-control pull-left' style='width: 100%;' name='txtReciberDepartment_"+reciber_count+"'>";
    row.Province = "<input id='it_4_"+reciber_count+"' class='form-control pull-left' style='width: 100%;' name='txtReciberProvince_"+reciber_count+"'>";
    row.District = "<input id='it_5_"+reciber_count+"' class='form-control pull-left' style='width: 100%;' name='txtReciberDistrict_"+reciber_count+"'>";
    row.Country = "<input id='it_6_"+reciber_count+"' class='form-control pull-left' style='width: 100%;' name='txtReciberCountry_"+reciber_count+"'>";
    row.City = "<input id='it_7_"+reciber_count+"' class='form-control pull-left' style='width: 100%;' name='txtReciberCity_"+reciber_count+"'>";
    row.Zone = "<input id='it_8_"+reciber_count+"' class='form-control pull-left' style='width: 100%;' name='txtReciberZone_"+reciber_count+"'>";
    row.Route = "<input id='it_9_"+reciber_count+"' class='form-control pull-left' style='width: 100%;' name='txtReciberRoute_"+reciber_count+"'>";
    row.Phone = "<input id='it_10_"+reciber_count+"' class='form-control pull-left' style='width: 100%;' name='txtReciberPhone_"+reciber_count+"'>";
    row.Fax = "<input id='it_11_"+reciber_count+"' class='form-control pull-left' style='width: 100%;' name='txtReciberFax_"+reciber_count+"'>";
    row.Contact = "<input id='it_12_"+reciber_count+"' class='form-control pull-left' style='width: 100%;' name='txtReciberContact_"+reciber_count+"'>";
    var rowCollection = [];
    rowCollection.push(row);
    tblReciber.rows.add(rowCollection).draw();
    for (i = 1;; i++){
    if (i > 9){
    break;
    }
    $('#it_'+i+'_'+reciber_count).on('change',function(){
    console.log(reciber_count);
    if ($('#it_'+i+'_'+reciber_count).val() != ""){
    totalFilled++;
    console.log("Llenó un input "+totalFilled);
    if (totalFilled>=9){
    console.log("Llenó los requeridos, mostrando boton");
    btnAddReciber.show();
    }
    }
    });
    }
    reciber_count = reciber_count + 1;
    $("#hddCountReciber").val(reciber_count);
    btnAddReciber.hide();
    });
    }
    });

    //$(".dt-button").removeClass("dt-button").addClass("btn btn-w-m btn-default").wrap("<div class='col-md-6' style='padding-left: 0px;'></div>");

    var tblInvoicer = $("#tblInvoicer").DataTable({
    searching: false,
    dom: 'Bfrtip',
    buttons: [{ text: 'Agregar'}],
    columns:[{ data: "Address", width: "12%" },
    { data: "CodPostal", width: "8%" },
    { data: "Department", width: "8%" },
    { data: "Province", width: "8%" },
    { data: "District", width: "8%" },
    { data: "Country", width: "8%" },
    { data: "City", width: "8%" },
    { data: "Zone", width: "8%" },
    { data: "Route", width: "8%" },
    { data: "Phone", width: "8%" },
    { data: "Fax", width: "8%" },
    { data: "Contact", width: "8%" }],
    language: { url: "@Html.SourceLink("js/plugins/dataTables/datatables-spanish.json")" },
    initComplete: function( settings, json ) {
    var btnAddReciber = $("#tblInvoicer_wrapper .dt-button");
    btnAddReciber.removeClass("dt-button").addClass("btn btn-w-m btn-default");
    btnAddReciber.on("click", function () {
    var reciber_count = parseInt($("#hddCountInvoicer").val());
    var row = {};
    row.Address = "<input class='form-control' style='width:100%' name='txtInvoicerAddress_"+reciber_count+"'>";
    row.CodPostal = "<input class='form-control' style='width:100%' name='txtInvoicerPostal_"+reciber_count+"'>";
    row.Department = "<input class='form-control pull-left' style='width: 100%;' name='txtInvoicerDepartment_"+reciber_count+"'>";
    row.Province = "<input class='form-control pull-left' style='width: 100%;' name='txtInvoicerProvince_"+reciber_count+"'>";
    row.District = "<input class='form-control pull-left' style='width: 100%;' name='txtInvoicerDistrict_"+reciber_count+"'>";
    row.Country = "<input class='form-control pull-left' style='width: 100%;' name='txtInvoicerCountry_"+reciber_count+"'>";
    row.City = "<input class='form-control pull-left' style='width: 100%;' name='txtInvoicerCity_"+reciber_count+"'>";
    row.Zone = "<input class='form-control pull-left' style='width: 100%;' name='txtInvoicerZone_"+reciber_count+"'>";
    row.Route = "<input class='form-control pull-left' style='width: 100%;' name='txtInvoicerRoute_"+reciber_count+"'>";
    row.Phone = "<input class='form-control pull-left' style='width: 100%;' name='txtInvoicerPhone_"+reciber_count+"'>";
    row.Fax = "<input class='form-control pull-left' style='width: 100%;' name='txtInvoicerFax_"+reciber_count+"'>";
    row.Contact = "<input class='form-control pull-left' style='width: 100%;' name='txtInvoicerContact_"+reciber_count+"'>";
    var rowCollection = [];
    rowCollection.push(row);
    tblInvoicer.rows.add(rowCollection).draw();
    reciber_count = reciber_count + 1;
    $("#hddCountInvoicer").val(reciber_count);
    });
    }
    });

    $("#dpckRegister").val(moment().format("DD/MM/YYYY"));

    $("#chkOriginClient").chosen({
    width: "100%",
    disable_search: true
    });

    $("#chkClientState").chosen({
    width: "100%",
    disable_search: true
    });

    $("#chkpersonType").chosen({
    width: "100%",
    disable_search: true
    });

    $('#chkpersonType').on('change', function(e) {
    var personType = $(this).val();
    if(personType=="N") {
    $("#divRuc").removeAttr("style");
    } else {
    $("#divRuc").attr("style","visibility:hidden;");
    }

    $.ajax({ method: "GET", url: "/Finantial/Client/DocumentType", data: { clientType:$(this).val() }, async: false })
    .done(function (result) {
    var objResult = jQuery.parseJSON(result);
    var documentType = $("#chkDocumentType");
    documentType.html("");
    $.each(objResult, function (index, value) {
    documentType.append("<option value='"+value.Id+"'>"+value.Description+"</option>");
    });
    documentType.trigger("chosen:updated");
    }).fail(function (result) {
    toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
    });
    });

    $("#chkDocumentType").chosen({
    width: "100%",
    disable_search: true
    });

    $("#chkCountry").chosen({
    width: "100%"
    });

    $("#chkZone").chosen({
    width: "100%"
    });

    $("#chkPostale").chosen({
    width: "100%"
    });

    $.ajax({ method: "GET", url: "/Finantial/Client/AllCountries", async: false })
    .done(function (result) {
    var objResult = jQuery.parseJSON(result);
    var documentType = $("#chkCountry");
    $.each(objResult, function (index, value) {
    documentType.append("<option value='"+value.Id+"'>"+value.Description+"</option>");
    });
    documentType.trigger("chosen:updated");
    }).fail(function (result) {
    toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
    });

    $.ajax({ method: "GET", url: "/Finantial/Client/AllClientZones", data: { countryId:$("#chkCountry").val() }, async: false })
    .done(function (result) {
    var objResult = jQuery.parseJSON(result);
    var documentType = $("#chkZone");
    documentType.html("");
    $.each(objResult, function (index, value) {
    documentType.append("<option value='"+value.Id+"'>"+value.Description+"</option>");
    });
    documentType.trigger("chosen:updated");
    }).fail(function (result) {
    toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
    });

    $("#chkCountry").on('change', function(e) {
    $.ajax({ method: "GET", url: "/Finantial/Client/AllClientZones", data: { countryId:$(this).val() }, async: false })
    .done(function (result) {
    var objResult = jQuery.parseJSON(result);
    var documentType = $("#chkZone");
    documentType.html("");
    $.each(objResult, function (index, value) {
    documentType.append("<option value='"+value.Id+"'>"+value.Description+"</option>");
    });
    documentType.trigger("chosen:updated");
    }).fail(function (result) {
    toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
    });
    console.log("estoy aqui");
    $.ajax({ method: "GET", url: "/Finantial/Client/AllDepartments", data: { countryId:$("#chkCountry").val() } , async: false })
    .done(function (result) {
    var objResult = jQuery.parseJSON(result);
    console.log(objResult);
    var documentType = $("#chkDepartment");
    documentType.html("");
    $.each(objResult, function (index, value) {
    documentType.append("<option value='"+value.Id+"'>"+value.Description+"</option>");
    });
    documentType.trigger("chosen:updated");
    }).fail(function (result) {
    toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
    });

    $.ajax({ method: "GET", url: "/Finantial/Client/AllDistricts", data: { countryId:$("#chkCountry").val(),departmentId:$("#chkDepartment").val(), provinceId:$(this).val() }, async: false })
    .done(function (result) {
    var objResult = jQuery.parseJSON(result);
    var documentType = $("#chkDistrict");
    documentType.html("");
    $.each(objResult, function (index, value) {
    documentType.append("<option value='"+value.Id+"'>"+value.Description+"</option>");
    });
    documentType.trigger("chosen:updated");
    }).fail(function (result) {
    toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
    });


    $.ajax({ method: "GET", url: "/Finantial/Client/AllProvinces", data: {countryId:$("#chkCountry").val(), departmentId:$(this).val() }, async: false })
    .done(function (result) {
    var objResult = jQuery.parseJSON(result);
    var documentType = $("#chkProvince");
    documentType.html("");
    $.each(objResult, function (index, value) {
    documentType.append("<option value='"+value.Id+"'>"+value.Description+"</option>");
    });
    documentType.trigger("chosen:updated");
    }).fail(function (result) {
    toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
    });




    });

    $.ajax({ method: "GET", url: "/Finantial/Client/AllPostales", async: false })
    .done(function (result) {
    var objResult = jQuery.parseJSON(result);
    var documentType = $("#chkPostale");
    documentType.html("");
    $.each(objResult, function (index, value) {
    documentType.append("<option value='"+value.Id+"'>"+value.Description+"</option>");
    });
    documentType.trigger("chosen:updated");
    }).fail(function (result) {
    toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
    });



    $("#chkProvince").chosen({
    width: "100%"
    });
    $("#chkDistrict").chosen({
    width: "100%"
    });

    $("#chkProvince").on('change', function(e) {
    $.ajax({ method: "GET", url: "/Finantial/Client/AllDistricts", data: { countryId:$("#chkCountry").val(),departmentId:$("#chkDepartment").val(), provinceId:$(this).val() }, async: false })
    .done(function (result) {
    var objResult = jQuery.parseJSON(result);
    var documentType = $("#chkDistrict");
    documentType.html("");
    $.each(objResult, function (index, value) {
    documentType.append("<option value='"+value.Id+"'>"+value.Description+"</option>");
    });
    documentType.trigger("chosen:updated");
    }).fail(function (result) {
    toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
    });
    });

    $("#chkDepartment").on('change', function(e) {
    $.ajax({ method: "GET", url: "/Finantial/Client/AllProvinces", data: {countryId:$("#chkCountry").val(), departmentId:$(this).val() }, async: false })
    .done(function (result) {
    var objResult = jQuery.parseJSON(result);
    var documentType = $("#chkProvince");
    documentType.html("");
    $.each(objResult, function (index, value) {
    documentType.append("<option value='"+value.Id+"'>"+value.Description+"</option>");
    });
    documentType.trigger("chosen:updated");
    }).fail(function (result) {
    toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
    });
    });

    $.ajax({ method: "GET", url: "/Finantial/Client/ClientOrigins", async: false })
    .done(function (result) {
    var objResult = jQuery.parseJSON(result);
    var documentType = $("#chkOriginClient");
    $.each(objResult, function (index, value) {
    documentType.append("<option value='"+value.Id+"'>"+value.Description+"</option>");
    });
    documentType.trigger("chosen:updated");
    }).fail(function (result) {
    toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
    });

    $.ajax({ method: "GET", url: "/Finantial/Client/ClientStates", async: false })
    .done(function (result) {
    var objResult = jQuery.parseJSON(result);
    var documentType = $("#chkClientState");
    $.each(objResult, function (index, value) {
    documentType.append("<option value='"+value.Id+"'>"+value.Description+"</option>");
    });
    documentType.trigger("chosen:updated");
    }).fail(function (result) {
    toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
    });

    $.ajax({ method: "GET", url: "/Finantial/Client/ClientType", async: false })
    .done(function (result) {
    var objResult = jQuery.parseJSON(result);
    var documentType = $("#chkpersonType");
    $.each(objResult, function (index, value) {
    documentType.append("<option value='"+value.Id+"'>"+value.Description+"</option>");
    });
    documentType.trigger("chosen:updated");
    }).fail(function (result) {
    toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
    });

    $.ajax({ method: "GET", url: "/Finantial/Client/AllDepartments", data: { countryId:$("#chkCountry").val() } , async: false })
    .done(function (result) {
    var objResult = jQuery.parseJSON(result);
    var documentType = $("#chkDepartment");
    $.each(objResult, function (index, value) {
    documentType.append("<option value='"+value.Id+"'>"+value.Description+"</option>");
    });
    documentType.trigger("chosen:updated");
    }).fail(function (result) {
    toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
    });

    if(action == "2") {
        var clientId = $("#txtClientId").val();
        $("#btnSubmit").text("Actualizar ");
        $("#btnSubmit").append("<i class='fa fa-floppy-o' aria-hidden='true'></i>");

        $.ajax({ method: "GET", url: "/Finantial/Client/OneClient_Populate", data: { codClient:clientId }, async: false })
            .done(function (result) {
                var objResult = jQuery.parseJSON(result);
                var obj = objResult[0];
                console.log(obj);
                $("#chkClientState").val(obj.StateClient);
                $("#chkClientState").trigger("chosen:updated");
                $("#chkOriginClient").val(obj.TypeClient);
                $("#chkOriginClient").trigger("chosen:updated");
                $("#txtName").val(obj.BussinessName);
                console.log(obj.Person);
                $("#chkpersonType").val(obj.Person);
                $("#chkpersonType").trigger("chosen:updated");
                $("#chkpersonType").trigger("change");
                $("#txtAddress").val(obj.Address);
                $("#txtCity").val(obj.City);
                $("#chkCountry").val(obj.Country);
                $("#chkCountry").trigger("chosen:updated");
                $("#chkZone").val(obj.Zone);
                $("#chkZone").trigger("chosen:updated");
                $("#chkPostale").val(obj.CodPost);
                $("#chkPostale").trigger("chosen:updated");
                $("#chkDepartment").val(obj.UbigeoDep);
                $("#chkDepartment").trigger("chosen:updated");
                $("#chkDepartment").trigger("change");
                $("#chkProvince").val(obj.UbigeProv);
                $("#chkProvince").trigger("chosen:updated");
                $("#chkProvince").trigger("change");
                $("#chkDistrict").val(obj.UbigeoDistrict);
                $("#chkDistrict").trigger("chosen:updated");
                $("#chkDistrict").trigger("change");
                $("#txtPhone").val(obj.Phone);
                $("#txtEmail").val(obj.Email);
                $("#txtDocumentNumber").val(obj.Dni);
                $("#txtRucNumber").val(obj.Ruc);
                $("#chkDocumentType").val(obj.DocumentType);
                $("#chkDocumentType").trigger("chosen:updated");
                $("#dpckRegister").datepicker("update", moment(obj.InitialDate));
            }).fail(function (result) {
                toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
            });
    }

    $.ajax({ method: "GET", url: "/Finantial/Client/AllProvinces", data: {countryId:$("#chkCountry").val(), departmentId:$(this).val() }, async: false })
    .done(function (result) {
    var objResult = jQuery.parseJSON(result);
    var documentType = $("#chkProvince");
    documentType.html("");
    $.each(objResult, function (index, value) {
    documentType.append("<option value='"+value.Id+"'>"+value.Description+"</option>");
    });
    documentType.trigger("chosen:updated");
    }).fail(function (result) {
    toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
    });

    $.ajax({ method: "GET", url: "/Finantial/Client/AllDistricts", data: { countryId:$("#chkCountry").val(),departmentId:$("#chkDepartment").val(), provinceId:$(this).val() }, async: false })
    .done(function (result) {
    var objResult = jQuery.parseJSON(result);
    var documentType = $("#chkDistrict");
    documentType.html("");
    $.each(objResult, function (index, value) {
    documentType.append("<option value='"+value.Id+"'>"+value.Description+"</option>");
    });
    documentType.trigger("chosen:updated");
    }).fail(function (result) {
    toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
    });

}
<div class="ibox float-e-margins">
    <form method="post" class="form-horizontal">
        <input id="txtAction" name="txtAction" type="hidden" value="@action" />
        @if (clientId != null)
        {
            <input id="txtClientId" name="txtClientId" type="hidden" value="@clientId" />
        }
        <input id="hddCountReciber" type="hidden" />
        <input id="hddCountInvoicer" type="hidden" />
        <div class="ibox-content">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-check-circle-o" aria-hidden="true"></i>Datos generales</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-check-circle-o" aria-hidden="true"></i>Datos de contacto</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-3"><i class="fa fa-check-circle-o" aria-hidden="true"></i>Otros</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade in active">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label class="col-md-3 control-label">Estado</label>
                                    <div class="col-md-9">
                                        <select id="chkClientState" name="chkClientState" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-3 control-label">Origen</label>
                                    <div class="col-sm-9">
                                        <select id="chkOriginClient" name="chkOriginClient" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-md-2 control-label" style="width: 12%;">Razón social</label>
                                    <div class="col-md-10">
                                        <input id="txtName" name="txtName" type="text" class="form-control" style="width: 106%;">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label class="col-md-3 control-label">Tipo</label>
                                    <div class="col-md-9">
                                        <select class="form-control" id="chkpersonType" name="chkpersonType"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="p-xxs border-bottom col-md-12">
                                        <strong>Documento</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label class="col-md-3 control-label">R.U.C.</label>
                                    <div class="col-md-9">
                                        <input id="txtRucNumber" name="txtRucNumber" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div id="divRuc" class="form-group" style="visibility: hidden;">
                                <div class="col-md-6">
                                    <label class="col-md-3 control-label">Tipo</label>
                                    <div class="col-md-9">
                                        <select class="form-control" id="chkDocumentType" name="chkDocumentType"></select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-3 control-label">Numero</label>
                                    <div class="col-md-9">
                                        <input id="txtDocumentNumber" name="txtDocumentNumber" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane fade">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-md-2 control-label" style="width: 12%;">Dirección</label>
                                    <div class="col-md-10">
                                        <input id="txtAddress" name="txtAddress" type="text" class="form-control" style="width: 106%;">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label class="col-md-3 control-label">Pais</label>
                                    <div class="col-md-9">
                                        <select name="chkCountry" id="chkCountry" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-3 control-label">Ciudad</label>
                                    <div class="col-md-9">
                                        <input id="txtCity" name="txtCity" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" style="width: 13%;">Ubigeo</label>
                                <div class="col-md-3" style="width: 29%;">
                                    <select name="chkDepartment" id="chkDepartment" class="form-control"></select>
                                </div>
                                <div class="col-md-3" style="width: 29%;">
                                    <select name="chkProvince" id="chkProvince" class="form-control"></select>
                                </div>
                                <div class="col-md-3" style="width: 27.5%;">
                                    <select name="chkDistrict" id="chkDistrict" class="form-control"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="col-sm-6 control-label">Zona</label>
                                    <div class="col-sm-6">
                                        <select name="chkZone" id="chkZone" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="col-sm-6 control-label">Telefono</label>
                                    <div class="col-sm-6">
                                        <input id="txtPhone" name="txtPhone" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="col-sm-6 control-label">Codigo Postal</label>
                                    <div class="col-sm-6">
                                        <select name="chkPostale" id="chkPostale" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane fade">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-8">
                                    <label class="col-md-2 control-label">Correo</label>
                                    <div class="col-md-10">
                                        <input id="txtEmail" name="txtEmail" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="col-md-4 control-label">Ingreso</label>
                                    <div class="col-md-8">
                                        <div class="input-group date">
                                            <input type="text" class="form-control" name="dpckRegister" id="dpckRegister">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="p-xxs border-bottom col-md-12">
                                        <strong>Direcciones</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label class="col-md-3 control-label">Entrega</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input class="form-control" type="text">
                                            <span class="input-group-btn">
                                                <a class="btn btn-primary" data-toggle="modal" data-target="#mdlReciber"><i class="fa fa-search" aria-hidden="true"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-3 control-label">Facturacion</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input class="form-control" type="text">
                                            <span class="input-group-btn">
                                                <a class="btn btn-primary" data-toggle="modal" data-target="#mdlInvoicer"><i class="fa fa-search" aria-hidden="true"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <label class="col-md-3 control-label">Registro</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">Valor</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-footer text-right">
            <button class="btn btn-white"><i class="fa fa-reply" aria-hidden="true"></i> Atras</button>
            <button id="btnSubmit" class="btn btn-primary" type="submit">Guardar <i class="fa fa-floppy-o" aria-hidden="true"></i></button>
        </div>
        <div class="modal inmodal" id="mdlReciber" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" style="width: 1280px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Direccion de entrega</h4>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table id="tblReciber" class="table table-striped table-bordered table-hover" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>Direccion</th>
                                        <th>Postal</th>
                                        <th>Depa.</th>
                                        <th>Prov.</th>
                                        <th>Dist.</th>
                                        <th>Ciudad</th>
                                        <th>Pais</th>
                                        <th>Zona</th>
                                        <th>Ruta</th>
                                        <th>Telef.</th>
                                        <th>Fax</th>
                                        <th>Conta.</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal inmodal" id="mdlInvoicer" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" style="width: 1280px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Direccion de facturacion</h4>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table id="tblInvoicer" class="table table-striped table-bordered table-hover" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>Direccion</th>
                                        <th>Postal</th>
                                        <th>Depa.</th>
                                        <th>Prov.</th>
                                        <th>Dist.</th>
                                        <th>Ciudad</th>
                                        <th>Pais</th>
                                        <th>Zona</th>
                                        <th>Ruta</th>
                                        <th>Telef.</th>
                                        <th>Fax</th>
                                        <th>Conta.</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>