@using Angkor.O7Web.Interface.Finantial.ViewModel.Client;
@{
    var vmodel = (ManagmentViewModel) ViewData["model"];
    var action = ViewData["action"];
    ViewBag.Title = "Agregar";
    if (action != null && (string)action == "2") {
        ViewBag.Title = "Actualizar";
    }
    if (action != null && (string)action == "3") {
        ViewBag.Title = "Ver detalles";
    }
    ViewBag.Section = "Gestion de clientes";
    Layout = "~/Views/_Layout.cshtml";
    var clientId = ViewData["idClient"];
}

@section styles_link {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css" />
    @Html.StyleLink("css/plugins/chosen/bootstrap-chosen.css")
    @Html.StyleLink("css/plugins/iCheck/custom.css")
    @Html.StyleLink("css/plugins/steps/jquery.steps.css")
    @Html.StyleLink("css/plugins/datapicker/datepicker3.css")
    <style>
        .btnRemoveReciber {
            margin-left: 15px;
        }
        .selected{
            background-color: #c5c9cc !important;
        }
        .dataTables_wrapper {
            padding-bottom: 1px !important;
        }
        .dataTables_scrollHeadInner{
            width: 100% !important;
        }
        .dataTables_scrollHeadInner > table{
            width: 100% !important;
        }
    </style>
}

@section scripts_link {
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    @Html.JavaScriptLink("js/plugins/chosen/chosen.jquery.js")
    @Html.JavaScriptLink("js/plugins/datapicker/bootstrap-datepicker.js")
    @Html.JavaScriptLink("js/plugins/moment/moment.min.js")
    @Html.JavaScriptLink("js/plugins/moment/moment-es.js")
    @Html.JavaScriptLink("js/plugins/typehead/bootstrap3-typeahead.js")
    <script src="~/Scripts/Client/Managment.data.js"></script>
    <script src="~/Scripts/Client/Managment.function.js"></script>
}

@section section_script {
    moment.locale('es');
    
    $("#hddCountReciber").val("0");
    $("#hddCountInvoicer").val("0");
    
    $("#dpckRegister").datepicker({
        format: "dd/mm/yyyy"
    });
    
    $("#chkDepartment").chosen({
        width: "100%"
    }); 

    var action = $("#txtAction").val();
    
    if(action=="3") {
        $("#btnSubmit").hide();
    }
    var curReciberRow = 0;
    var i=0;
    var tblReciber = $("#tblReciber").DataTable({
        searching: false,
        dom: 'Bfrtip',
        buttons:buttonTblReciber,
        columns:columnTblReciber,
        columnDefs:columnDefsTblReciber,
        "createdRow": function ( row, data, index ) {
            curReciberRow = index;
            i = 0;
        },
        scrollY : '30hv',
        "scrollCollapse" : true,
        language: { url: "@Html.SourceLink("js/plugins/dataTables/datatables-spanish.json")" },
        initComplete: function( settings, json ) {
            if (action == '1') {
                tblReciber.column(0).visible(false);
            }
            var btnAddReciber = $(".btnAddReciber");
            btnAddReciber.removeClass("dt-button").addClass("btn btn-w-m btn-default");

            var btnRemoveReciber = $(".btnRemoveReciber");
            btnRemoveReciber.removeClass("dt-button").addClass("btn btn-w-m btn-danger");
            
            if (action == '3'){
                btnAddReciber.hide();
            }

            btnAddReciber.on("click", function () {     
                btnAddReciber.hide();                           
                var reciber_count = parseInt($("#hddCountReciber").val());
                var row = {};
                row.CodDir = "";
                row.Address = "<input class='form-control' style='width:100%' name='txtReciberAddress_"+reciber_count+"'>";  
                row.Department = "<input class='form-control pull-left' style='width: 100%;' id='txtReciberDepartment_"+reciber_count+"' name='txtReciberDepartment_"+reciber_count+"'><input type='hidden' id='txtReciberDepartmentId_"+reciber_count+"' name='txtReciberDepartmentId_"+reciber_count+"'>";
                row.Province = "<input class='form-control pull-left' style='width: 100%;' id='txtReciberProvince_"+reciber_count+"' name='txtReciberProvince_"+reciber_count+"'><input type='hidden' id='txtReciberProvinceId_"+reciber_count+"' name='txtReciberProvinceId_"+reciber_count+"'>";
                row.District = "<input class='form-control pull-left' style='width: 100%;' id='txtReciberDistrict_"+reciber_count+"' name='txtReciberDistrict_"+reciber_count+"'><input type='hidden' id='txtReciberDistrictId_"+reciber_count+"' name='txtReciberDistrictId_"+reciber_count+"'>";
                row.Country = "<input class='form-control pull-left' style='width: 100%;' id='txtReciberCountry_"+reciber_count+"' name='txtReciberCountry_"+reciber_count+"'><input type='hidden' id='txtReciberCountryId_"+reciber_count+"' name='txtReciberCountryId_"+reciber_count+"'>";
                row.City = "<input class='form-control pull-left' style='width: 100%;' name='txtReciberCity_"+reciber_count+"'>";
                row.Zone = "<input class='form-control pull-left' style='width: 100%;' id='txtReciberZone_"+reciber_count+"' name='txtReciberZone_"+reciber_count+"'><input type='hidden' id='txtReciberZoneId_"+reciber_count+"' name='txtReciberZoneId_"+reciber_count+"'>";
                row.Phone = "<input class='form-control pull-left' style='width: 100%;' name='txtReciberPhone_"+reciber_count+"'>"; 
                row.Contact = "<input class='form-control pull-left' style='width: 100%;' name='txtReciberContact_"+reciber_count+"'>";
                var rowCollection = [];
                rowCollection.push(row);
                tblReciber.rows.add(rowCollection).draw();
                var departmentId = "#txtReciberDepartmentId_"+reciber_count;
                var provinceId = "#txtReciberProvinceId_"+reciber_count;
                var districtId = "#txtReciberDistrictId_"+reciber_count;
                var countryId = "#txtReciberCountryId_"+reciber_count;
                var zoneId = "#txtReciberZoneId_"+reciber_count;
                var departmentAutocomplete = "#txtReciberDepartment_"+reciber_count;
                var provinceAutocomplete = "#txtReciberProvince_"+reciber_count;
                var districtAutocomplete = "#txtReciberDistrict_"+reciber_count;
                var countryAutocomplete = "#txtReciberCountry_"+reciber_count;
                var zoneAutocomplete = "#txtReciberZone_"+reciber_count;
                var postaleAutocomplete = "#txtReciberPostal_"+reciber_count;



                $.ajax({ method: "GET", url: "/Finantial/Client/AllPostales", async: false })
                    .done(function (resultPostale) {
                        resultPostale = resultPostale.replace(/Description/g, 'name');
                        resultPostale = resultPostale.replace(/Id/g, 'id');
                        var objResultPostale = jQuery.parseJSON(resultPostale);
                        $(postaleAutocomplete).typeahead({ source: objResultPostale });            
                    }).fail(function (result) {
                        toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
                }); 
    
                $.ajax({ method: "GET", url: "/Finantial/Client/AllCountries", async: false })
                    .done(function (resultCountry) {
                        resultCountry = resultCountry.replace(/Description/g, 'name');
                        resultCountry = resultCountry.replace(/Id/g, 'id');
                        var objResultCountry = jQuery.parseJSON(resultCountry);                        
                        $(countryAutocomplete).typeahead({
                            source: objResultCountry,
                            afterSelect: function () {
                                var country = $(countryAutocomplete).typeahead("getActive");
                                $(countryId).val(country.id);
    
                               $.ajax({ method: "GET", url: "/Finantial/Client/ValidateCountryEntry", data: { countryId: country.id }, async: false })
                                    .done(function (resultValidation) {    
                                        var objResultValidation = jQuery.parseJSON(resultValidation.toLowerCase());
                                        if (objResultValidation == true) {
                                            $(departmentAutocomplete).removeAttr("disabled");
                                            $(provinceAutocomplete).removeAttr("disabled");
                                            $(districtAutocomplete).removeAttr("disabled");
                                            $(zoneAutocomplete).removeAttr("disabled");
                                        } else {
                                            $(departmentAutocomplete).attr("disabled", "disabled");
                                            $(provinceAutocomplete).attr("disabled", "disabled");
                                            $(districtAutocomplete).attr("disabled", "disabled");
                                            $(zoneAutocomplete).attr("disabled", "disabled");
                                        }
                                    }).fail(function (result) {
                                        toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
                                    });
    
                                $.ajax({ method: "GET", url: "/Finantial/Client/AllClientZones", data: { countryId: country.id }, async: false })
                                    .done(function (resultZone) {
                                        resultZone = resultZone.replace(/Description/g, 'name');
                                        resultZone = resultZone.replace(/Id/g, 'id');
                                        var objResultZone = jQuery.parseJSON(resultZone);
                                        $(zoneAutocomplete).typeahead({ 
                                            source: objResultZone,
                                            afterSelect: function () {
                                                var zone = $(zoneAutocomplete).typeahead("getActive");
                                                $(zoneId).val(zone.id)
                                            }
                                        }); 
                                    }).fail(function (result) {
                                        toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
                                    });
    
                                $.ajax({ method: "GET", url: "/Finantial/Client/AllDepartments", data: { countryId: country.id } , async: false })
                                    .done(function (result) {
                                        result = result.replace(/Description/g, 'name');
                                        result = result.replace(/Id/g, 'id');
                                        var objResult = jQuery.parseJSON(result);                                        
                                        $(departmentAutocomplete).typeahead({
                                            source: objResult,
                                            afterSelect: function () {
                                                var department = $(departmentAutocomplete).typeahead("getActive");
                                                $(departmentId).val(department.id);
                                                $.ajax({ method: "GET", url: "/Finantial/Client/AllProvinces", data: {countryId: country.id, departmentId: department.id }, async: false })
                                                    .done(function (resultProv) {
                                                        resultProv = resultProv.replace(/Description/g, 'name');
                                                        resultProv = resultProv.replace(/Id/g, 'id');
                                                        var objResultProv = jQuery.parseJSON(resultProv);
                                                        $(provinceAutocomplete).typeahead({
                                                            source: objResultProv,
                                                            afterSelect: function () {
                                                                var province = $(provinceAutocomplete).typeahead("getActive");
                                                                $(provinceId).val(province.id);
                                                                $.ajax({ method: "GET", url: "/Finantial/Client/AllDistricts", data: { countryId: country.id, departmentId: department.id, provinceId: province.id }, async: false })
                                                                    .done(function (resultDistrict) {
                                                                        resultDistrict = resultDistrict.replace(/Description/g, 'name');
                                                                        resultDistrict = resultDistrict.replace(/Id/g, 'id');
                                                                        var objResultDis = jQuery.parseJSON(resultDistrict);
                                                                        $(districtAutocomplete).typeahead({
                                                                            source:objResultDis,
                                                                            afterSelect: function() {
                                                                                var district = $(districtAutocomplete).typeahead("getActive");
                                                                                $(districtId).val(district.id);
                                                                            }
                                                                        });
                                                                    }).fail(function (result) {
                                                                        toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
                                                                    });
                                                            }
                                                        });
                                                    }).fail(function (result) {
                                                        toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
                                                    });
                                            }
                                        });
                                    }).fail(function (result) {
                                        toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
                                    });
                            }
                        });
                    }).fail(function (result) {
                            toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
                });

                rowValidate(i,tblReciber,curReciberRow, btnAddReciber);
                
                reciber_count = reciber_count + 1;
                $("#hddCountReciber").val(reciber_count);
                    
                $('.dataTables_scrollBody').slimscroll({
                      height: '30vh',
                      disableFadeOut : false
                });
            });
        }

    });

    var curInvoicerRow=0;
    var i=0;
    var tblInvoicer = $("#tblInvoicer").DataTable({
        searching: false,
        dom: 'Bfrtip',
        buttons: buttonTblInvoicer,
        columns:columnTblInvoicer,
        columnDefs:columnDefTblInvoicer,
        "createdRow": function ( row, data, index ) {
            curInvoicerRow = index;
            i = 0;
        },
        scrollY : '30hv',
        "scrollCollapse" : true,   
        language: { url: "@Html.SourceLink("js/plugins/dataTables/datatables-spanish.json")" },
        initComplete: function( settings, json ) {
            if (action == '1') {
                tblInvoicer.column(0).visible(false);
            }

            var btnRemoveReciber = $(".btnRemoveReciber");
            btnRemoveReciber.removeClass("dt-button").addClass("btn btn-w-m btn-danger");

            var btnAddReciber = $(".btnAddReciber");
            btnAddReciber.removeClass("dt-button").addClass("btn btn-w-m btn-default");

            if (action == '3'){
                btnAddReciber.hide();
            }
            btnAddReciber.on("click", function () {
                var reciber_count = parseInt($("#hddCountInvoicer").val());
                var row = {};
                row.CodDir = "";
                row.Address = "<input class='form-control' style='width:100%' name='txtInvoicerAddress_"+reciber_count+"'>";                
                row.Department = "<input class='form-control pull-left' style='width: 100%;' id='txtInvoicerDepartment_"+reciber_count+"' name='txtInvoicerDepartment_"+reciber_count+"'><input type='hidden' id='txtInvoicerDepartmentId_"+reciber_count+"' name='txtInvoicerDepartmentId_"+reciber_count+"'>";
                row.Province = "<input class='form-control pull-left' style='width: 100%;' id='txtInvoicerProvince_"+reciber_count+"' name='txtInvoicerProvince_"+reciber_count+"'><input type='hidden' id='txtInvoicerProvinceId_"+reciber_count+"' name='txtInvoicerProvinceId_"+reciber_count+"'>";
                row.District = "<input class='form-control pull-left' style='width: 100%;' id='txtInvoicerDistrict_"+reciber_count+"' name='txtInvoicerDistrict_"+reciber_count+"'><input type='hidden' id='txtInvoicerDistrictId_"+reciber_count+"' name='txtInvoicerDistrictId_"+reciber_count+"'>";
                row.Country = "<input class='form-control pull-left' style='width: 100%;' id='txtInvoicerCountry_"+reciber_count+"' name='txtInvoicerCountry_"+reciber_count+"'><input type='hidden' id='txtInvoicerCountryId_"+reciber_count+"' name='txtInvoicerCountryId_"+reciber_count+"'>";
                row.City = "<input class='form-control pull-left' style='width: 100%;' name='txtInvoicerCity_"+reciber_count+"'>";
                row.Zone = "<input class='form-control pull-left' style='width: 100%;' id='txtInvoicerZone_"+reciber_count+"' name='txtInvoicerZone_"+reciber_count+"'><input type='hidden' id='txtInvoicerZoneId_"+reciber_count+"' name='txtInvoicerZoneId_"+reciber_count+"'>";                
                row.Phone = "<input class='form-control pull-left' style='width: 100%;' name='txtInvoicerPhone_"+reciber_count+"'>";               
                row.Contact = "<input class='form-control pull-left' style='width: 100%;' name='txtInvoicerContact_"+reciber_count+"'>";
                var rowCollection = [];
                rowCollection.push(row);
                tblInvoicer.rows.add(rowCollection).draw();
        
                var departmentId = "#txtInvoicerDepartmentId_"+reciber_count;
                var provinceId = "#txtInvoicerProvinceId_"+reciber_count;
                var districtId = "#txtInvoicerDistrictId_"+reciber_count;
                var countryId = "#txtInvoicerCountryId_"+reciber_count;
                var zoneId = "#txtInvoicerZoneId_"+reciber_count;
                var departmentAutocomplete = "#txtInvoicerDepartment_"+reciber_count;
                var provinceAutocomplete = "#txtInvoicerProvince_"+reciber_count;
                var districtAutocomplete = "#txtInvoicerDistrict_"+reciber_count;
                var countryAutocomplete = "#txtInvoicerCountry_"+reciber_count;
                var zoneAutocomplete = "#txtInvoicerZone_"+reciber_count;
                var postaleAutocomplete = "#txtInvoicerPostal_"+reciber_count;  
    
                $.ajax({ method: "GET", url: "/Finantial/Client/AllPostales", async: false })
                    .done(function (resultPostale) {
                        resultPostale = resultPostale.replace(/Description/g, 'name');
                        resultPostale = resultPostale.replace(/Id/g, 'id');
                        var objResultPostale = jQuery.parseJSON(resultPostale);
                        $(postaleAutocomplete).typeahead({ source: objResultPostale});
                    }).fail(function (result) {
                        toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
                });

                $.ajax({ method: "GET", url: "/Finantial/Client/AllCountries", async: false })
                    .done(function (resultCountry) {
                        resultCountry = resultCountry.replace(/Description/g, 'name');
                        resultCountry = resultCountry.replace(/Id/g, 'id');
                        var objResultCountry = jQuery.parseJSON(resultCountry);

                        $(countryAutocomplete).typeahead({
                            source: objResultCountry,
                            afterSelect: function () {
                                var country = $(countryAutocomplete).typeahead("getActive");
                                $(countryId).val(country.id);
                                $.ajax({ method: "GET", url: "/Finantial/Client/ValidateCountryInvoicer", data: { countryId: country.id }, async: false })
                                    .done(function (resultValidation) {
                                        var objResultValidation = jQuery.parseJSON(resultValidation.toLowerCase());
                                        if (objResultValidation == true) {
                                            $(departmentAutocomplete).removeAttr("disabled");
                                            $(provinceAutocomplete).removeAttr("disabled");
                                            $(districtAutocomplete).removeAttr("disabled");
                                            $(zoneAutocomplete).removeAttr("disabled");
                                        } else {
                                            $(departmentAutocomplete).attr("disabled", "disabled");
                                            $(provinceAutocomplete).attr("disabled", "disabled");
                                            $(districtAutocomplete).attr("disabled", "disabled");
                                            $(zoneAutocomplete).attr("disabled", "disabled");
                                        }
                                    }).fail(function (result) {
                                        toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
                                    });
        
                                $.ajax({ method: "GET", url: "/Finantial/Client/AllClientZones", data: { countryId: country.id }, async: false })
                                    .done(function (resultZone) {
                                        resultZone = resultZone.replace(/Description/g, 'name');
                                        resultZone = resultZone.replace(/Id/g, 'id');
                                        var objResultZone = jQuery.parseJSON(resultZone);
                                        $(zoneAutocomplete).typeahead({ 
                                            source: objResultZone,
                                            afterSelect: function () {
                                                var zone = $(zoneAutocomplete).typeahead("getActive");
                                                $(zoneId).val(zone.id)
                                            }
                                        });
                                    }).fail(function (result) {
                                        toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
                                    });

                                $.ajax({ method: "GET", url: "/Finantial/Client/AllDepartments", data: { countryId: country.id } , async: false })
                                    .done(function (result) {
                                        result = result.replace(/Description/g, 'name');
                                        result = result.replace(/Id/g, 'id');
                                        var objResult = jQuery.parseJSON(result);

                                        $(departmentAutocomplete).typeahead({
                                            source: objResult,
                                            afterSelect: function () {
                                                var department = $(departmentAutocomplete).typeahead("getActive");
                                                $(departmentId).val(department.id);
                                                $.ajax({ method: "GET", url: "/Finantial/Client/AllProvinces", data: {countryId:"PER", departmentId: department.id }, async: false })
                                                    .done(function (resultProv) {
                                                        var objResultProv = jQuery.parseJSON(parseAutocomplete(resultProv));
                                                        $(provinceAutocomplete).typeahead({
                                                            source: objResultProv,
                                                            afterSelect: function () {
                                                                var province = $(provinceAutocomplete).typeahead("getActive");
                                                                $(provinceId).val(province.id);
                                                                $.ajax({ method: "GET", url: "/Finantial/Client/AllDistricts", data: { countryId:"PER", departmentId: department.id, provinceId: province.id }, async: false })
                                                                    .done(function (resultDistrict) {
                                                                        var objResultDis = jQuery.parseJSON(parseAutocomplete(resultDistrict));
                                                                        $(districtAutocomplete).typeahead({
                                                                            source:objResultDis,
                                                                            afterSelect: function() {
                                                                                var district = $(districtAutocomplete).typeahead("getActive");
                                                                                $(districtId).val(district.id);
                                                                            }
                                                                        });
                                                                    }).fail(function (result) {
                                                                        toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
                                                                    });
                                                            }
                                                        });
                                                    }).fail(function (result) {
                                                        toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
                                                    });
                                            }
                                        });
                                    }).fail(function (result) {
                                        toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
                                    });
                            }
                        });
                    }).fail(function (result) {
                            toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
                });
                rowValidate(i,tblInvoicer,curInvoicerRow, btnAddReciber);
                reciber_count = reciber_count + 1;
                $("#hddCountInvoicer").val(reciber_count);
                $('.dataTables_scrollBody').slimscroll({
                        height: '30vh',
                        disableFadeOut : false
                });
            });
        }
    });

    $("#dpckRegister").val(moment().format("DD/MM/YYYY"));

    $("#chkOriginClient").chosen({
        width: "100%",
        disable_search: true
    });
    
    $("#chkClientState").chosen({
        width: "100%",
        disable_search: true
    });
    
    $("#chkpersonType").chosen({
        width: "100%",
        disable_search: true
    });
    
    $('#chkpersonType').on('change', function(e) {
        var personType = $(this).val();

        if(personType=="N") $("#divRuc").removeAttr("style");
        else $("#divRuc").attr("style","visibility:hidden;");
        
        $.ajax({ method: "GET", url: "/Finantial/Client/DocumentType", data: { clientType: personType }, async: false })
            .done(function (result) {
                var objResult = jQuery.parseJSON(result);
                var documentType = $("#chkDocumentType");
                documentType.html("");
                iterate_Combo(documentType, objResult);
            }).fail(function (result) {
                toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
            });
    });
    
     $("#chkDocumentType").chosen({
        width: "100%",
        disable_search: true
    });    
    
    $("#chkCountry").chosen({
        width: "100%"
    });     
    
    $("#chkZone").chosen({
        width: "100%"
    }); 
    
    $("#chkPostale").chosen({
        width: "100%"
    });


    $.ajax({ method: "GET", url: "/Finantial/Client/AllCountries", async: false })
        .done(function (result) {
            var objResult = jQuery.parseJSON(result);
            var documentType = $("#chkCountry");
            iterate_Combo(documentType, objResult);
        }).fail(function (result) {
            toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
    });

    get_allClientZone();

    $("#chkCountry").on('change', function(e) {
        get_allClientZone();
        get_allClientDepartments();
        get_allClientDistrict();
        get_allClientProvinces(); 
    });
    
    $.ajax({ method: "GET", url: "/Finantial/Client/AllPostales", async: false })
        .done(function (result) {
            var objResult = jQuery.parseJSON(result);
            var documentType = $("#chkPostale");
            documentType.html("");
            iterate_Combo(documentType, objResult);
        }).fail(function (result) {
            toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
    });    

    $("#chkProvince").chosen({
        width: "100%"
    });
    
    $("#chkDistrict").chosen({
        width: "100%"
    });
    
    $("#chkProvince").on('change', function(e) {
        get_allClientDistrict();
    });

    $("#chkDepartment").on('change', function(e) {        
        get_allClientProvinces();
    });

    $.ajax({ method: "GET", url: "/Finantial/Client/ClientOrigins", async: false })
        .done(function (result) {
            var objResult = jQuery.parseJSON(result);
            var documentType = $("#chkOriginClient");
            iterate_Combo(documentType, objResult);
        }).fail(function (result) {
            toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
        });

    $.ajax({ method: "GET", url: "/Finantial/Client/ClientStates", async: false })
        .done(function (result) {
            var objResult = jQuery.parseJSON(result);
            var documentType = $("#chkClientState");
            iterate_Combo(documentType, objResult);
        }).fail(function (result) {
            toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
        });
    
    $.ajax({ method: "GET", url: "/Finantial/Client/ClientType", async: false })
        .done(function (result) {
            var objResult = jQuery.parseJSON(result);
            var documentType = $("#chkpersonType");
            iterate_Combo(documentType, objResult);
        }).fail(function (result) {
            toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
        });        
    
    get_allClientDepartments();
    
    if(action == "2" || action == "3") {
        var clientId = $("#txtClientId").val();
        $("#btnSubmit").text("Actualizar ");        
        $("#btnSubmit").append("<i class='fa fa-floppy-o' aria-hidden='true'></i>");
        $.ajax({ method: "GET", url: "/Finantial/Client/OneClient_Populate", data: { codClient:clientId }, async: false })
            .done(function (result) {
                var objResult = jQuery.parseJSON(result);
                var obj = objResult[0];    
                $("#header-detail").html(obj.BussinessName+" ("+clientId+")");
                $("#chkClientState").val(obj.StateClient);
                $("#chkClientState").trigger("chosen:updated");
                $("#chkOriginClient").val(obj.TypeClient);
                $("#chkOriginClient").trigger("chosen:updated");
                $("#txtName").val(obj.BussinessName);
                $("#chkpersonType").val(obj.Person);
                $("#chkpersonType").trigger("chosen:updated");
                $("#chkpersonType").trigger("change");
                $("#txtAddress").val(obj.Address);
                $("#txtCity").val(obj.City);
                $("#chkCountry").val(obj.Country);
                $("#chkCountry").trigger("chosen:updated");
                $("#chkZone").val(obj.Zone);
                $("#chkZone").trigger("chosen:updated");
                $("#chkPostale").val(obj.CodPost);
                $("#chkPostale").trigger("chosen:updated");
                $("#chkDepartment").val(obj.UbigeoDep);
                $("#chkDepartment").trigger("chosen:updated");
                $("#chkDepartment").trigger("change");
                $("#chkProvince").val(obj.UbigeProv);
                $("#chkProvince").trigger("chosen:updated");
                $("#chkProvince").trigger("change");
                $("#chkDistrict").val(obj.UbigeoDistrict);
                $("#chkDistrict").trigger("chosen:updated");
                $("#chkDistrict").trigger("change");
                $("#txtPhone").val(obj.Phone);
                $("#txtEmail").val(obj.Email);
                $("#txtDocumentNumber").val(obj.Dni);
                $("#txtRucNumber").val(obj.Ruc);
                $("#chkDocumentType").val(obj.DocumentType);
                $("#chkDocumentType").trigger("chosen:updated");
                $("#dpckRegister").datepicker("update", new Date(obj.InitialDate));    
        }).fail(function (result) {
                toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
        });
    
        $.ajax({ method: "GET", url: "/Finantial/Client/InvoicerAddressPopulate", data: { clientId: clientId }, async: false })
            .done(function (result) {
                var objResult = jQuery.parseJSON(result);
                tblInvoicer.clear().rows.add(objResult).draw();                    
            }).fail(function (result) {
                toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
            });

        $.ajax({ method: "GET", url: "/Finantial/Client/EntryAddressPopulate", data: { clientId: clientId }, async: false })
            .done(function (result) {
                var objResult = jQuery.parseJSON(result);
                tblReciber.clear().rows.add(objResult).draw();
            }).fail(function (result) {
                toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
            });          
      
            var countReciber = 0;    
            $("#tblReciber > tbody > tr").each(function () {    
                var tds = $(this).children();
                var reciberCode = $(tds[0]);
                var code = reciberCode.html();
                reciberCode.html("");
                reciberCode.append("<input type='text' class='form-control pull-left' style='width:100%;' name='txtReciberCode_"+countReciber+"' readonly='readonly' value='"+code+"' />");
                var reciberCountry = $(tds[1]);
                var country = reciberCountry.html();
                reciberCountry.html("");
                reciberCountry.append("<input class='form-control pull-left' style='width:100%;' id='txtReciberCountry_"+countReciber+"' name='txtReciberCountry_"+countReciber+"' /><input type='hidden' id='txtReciberCountryId_"+countReciber+"' name='txtReciberCountryId_"+countReciber+"' value='"+country+"' />");                
                var reciberDepartment = $(tds[2]);
                var department = reciberDepartment.html(); 
                reciberDepartment.html("");
                reciberDepartment.append("<input class='form-control pull-left' style='width:100%;' id='txtReciberDepartment_"+countReciber+"' name='txtReciberDepartment_"+countReciber+"' /><input type='hidden' id='txtReciberDepartmentId_"+countReciber+"' name='txtReciberDepartmentId_"+countReciber+"' value='"+department+"' />");
                var reciberProvince = $(tds[3]);
                var province = reciberProvince.html(); 
                reciberProvince.html("");
                reciberProvince.append("<input class='form-control pull-left' style='width:100%;' id='txtReciberProvince_"+countReciber+"' name='txtReciberProvince_"+countReciber+"' /><input type='hidden' id='txtReciberProvinceId_"+countReciber+"' name='txtReciberProvinceId_"+countReciber+"' value='"+province+"' />");
                var reciberDistrict = $(tds[4]);
                var district = reciberDistrict.html(); 
                reciberDistrict.html("");
                reciberDistrict.append("<input class='form-control pull-left' style='width:100%;' id='txtReciberDistrict_"+countReciber+"' name='txtReciberDistrict_"+countReciber+"' /><input type='hidden' id='txtReciberDistrictId_"+countReciber+"' name='txtReciberDistrictId_"+countReciber+"' value='"+district+"' />");
                var reciberAddress = $(tds[5]);
                var address = reciberAddress.html();
                reciberAddress.html("");
                reciberAddress.append("<input class='form-control pull-left' style='width:100%;' name='txtReciberAddress_"+countReciber+"' value='"+address+"' />");
                var reciberCity = $(tds[6]);
                var city = reciberCity.html();
                reciberCity.html("");
                reciberCity.append("<input class='form-control pull-left' style='width:100%;' name='txtReciberCity_"+countReciber+"' value='"+city+"' />");
                var reciberZone = $(tds[7]);
                var zone = reciberZone.html(); 
                reciberZone.html("");
                reciberZone.append("<input class='form-control pull-left' style='width:100%;' id='txtReciberZone_"+countReciber+"' name='txtReciberZone_"+countReciber+"' /><input type='hidden' id='txtReciberZoneId_"+countReciber+"' name='txtReciberZoneId_"+countReciber+"' value='"+zone+"' />");
                var reciberPhone = $(tds[8]);
                var phone = reciberPhone.html();
                reciberPhone.html("");
                reciberPhone.append("<input class='form-control pull-left' style='width:100%;' name='txtReciberPhone_"+countReciber+"' value='"+phone+"' />");
                var reciberContact = $(tds[9]);
                var contact = reciberContact.html();
                reciberContact.html("");
                reciberContact.append("<input class='form-control pull-left' style='width:100%;' name='txtReciberContact_"+countReciber+"' value='"+contact+"' />");
    
                var departmentId = "#txtReciberDepartmentId_"+countReciber;
                var provinceId = "#txtReciberProvinceId_"+countReciber;
                var districtId = "#txtReciberDistrictId_"+countReciber;
                var countryId = "#txtReciberCountryId_"+countReciber;
                var zoneId = "#txtReciberZoneId_"+countReciber;
                var departmentAutocomplete = "#txtReciberDepartment_"+countReciber;
                var provinceAutocomplete = "#txtReciberProvince_"+countReciber;
                var districtAutocomplete = "#txtReciberDistrict_"+countReciber;
                var countryAutocomplete = "#txtReciberCountry_"+countReciber;
                var zoneAutocomplete = "#txtReciberZone_"+countReciber;
                var postaleAutocomplete = "#txtReciberPostal_"+countReciber;
                         
                $.ajax({ method: "GET", url: "/Finantial/Client/AllCountries", async: false })
                    .done(function (resultCountry) {
                        var objResultCountry = jQuery.parseJSON(parseAutocomplete(resultCountry));                                                
                        $(countryAutocomplete).typeahead({
                            source: objResultCountry,
                            afterSelect: function () {
                                var country = $(countryAutocomplete).typeahead("getActive");
                                $(countryId).val(country.id);
                                $.ajax({ method: "GET", url: "/Finantial/Client/AllClientZones", data: { countryId: country.id }, async: false })
                                    .done(function (resultZone) {
                                        var objResultZone = jQuery.parseJSON(parseAutocomplete(resultZone));
                                        $(zoneAutocomplete).typeahead({
                                            source: objResultZone,
                                            afterSelect: function () {
                                                var zone = $(zoneAutocomplete).typeahead("getActive");
                                                $(zoneId).val(zone.id)
                                            }
                                        });
    
                                        $.each(objResultZone, function (index, value){
                                            if(value.id == zone) {
                                                $(zoneAutocomplete).val(value.name);
                                            }
                                        });
                                    }).fail(function (result) {
                                        toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
                                    });                                
                                $.ajax({ method: "GET", url: "/Finantial/Client/AllDepartments", data: { countryId: country.id } , async: false })
                                    .done(function (result) {
                                        var objResult = jQuery.parseJSON(parseAutocomplete(result));
                                        $(departmentAutocomplete).typeahead({
                                            source: objResult,
                                            afterSelect: function () {
                                                var department = $(departmentAutocomplete).typeahead("getActive");
                                                $(departmentId).val(department.id);
                                                $.ajax({ method: "GET", url: "/Finantial/Client/AllProvinces", data: {countryId: country.id, departmentId: department.id }, async: false })
                                                    .done(function (resultProv) {
                                                        var objResultProv = jQuery.parseJSON(parseAutocomplete(resultProv));
                                                        $(provinceAutocomplete).typeahead({
                                                            source: objResultProv,
                                                            afterSelect: function () {
                                                                var province = $(provinceAutocomplete).typeahead("getActive");
                                                                $(provinceId).val(province.id);
                                                                $.ajax({ method: "GET", url: "/Finantial/Client/AllDistricts", data: { countryId: country.id, departmentId: department.id, provinceId: province.id }, async: false })
                                                                    .done(function (resultDistrict) {
                                                                        objResultDis = jQuery.parseJSON(parseAutocomplete(resultDistrict));
                                                                        $(districtAutocomplete).typeahead({
                                                                            source:objResultDis,
                                                                            afterSelect: function() {
                                                                                var district = $(districtAutocomplete).typeahead("getActive");
                                                                                $(districtId).val(district.id);
                                                                            }
                                                                        });
                                                                    }).fail(function (result) {
                                                                        toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
                                                                    });
                                                            }
                                                        });
                                                           
                                                    }).fail(function (result) {
                                                        toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
                                                    });
                                            }
                                        });                                          
                                    }).fail(function (result) {
                                        toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
                                    });
                            }
                        });

                        $.each(objResultCountry, function (index, value){
                            if(value.id == country) {    
                                $(countryAutocomplete).val(value.name);
                            }
                        });
    
    
                        $.ajax({ method: "GET", url: "/Finantial/Client/AllClientZones", data: { countryId: country }, async: false })
                            .done(function (resultZone) {
                                resultZone = resultZone.replace(/Description/g, 'name');
                                resultZone = resultZone.replace(/Id/g, 'id');
                                var objResultZone = jQuery.parseJSON(resultZone);
                                $(zoneAutocomplete).typeahead({
								    source: objResultZone,
							    });
                                $.each(objResultZone, function (index, value){
                                    if(value.id == zone) {
                                        $(zoneAutocomplete).val(value.name);
                                    }
                                });
                            });

                        $.ajax({ method: "GET", url: "/Finantial/Client/AllDepartments", data: { countryId: country } , async: false })
                            .done(function (result) {
                                result = result.replace(/Description/g, 'name');
                                result = result.replace(/Id/g, 'id');
                                var objResult = jQuery.parseJSON(result);
    							$(departmentAutocomplete).typeahead({
								    source: objResult,
							    });
                                $.each(objResult, function (index, value){
                                    if(value.id == department) {
                                        $(departmentAutocomplete).val(value.name);
                                    }
                                }); 
                        });
    
                        $.ajax({ method: "GET", url: "/Finantial/Client/AllProvinces", data: {countryId: country, departmentId: department }, async: false })
                            .done(function (resultProv) {
                                resultProv = resultProv.replace(/Description/g, 'name');
                                resultProv = resultProv.replace(/Id/g, 'id');
                                var objResultProv = jQuery.parseJSON(resultProv);
    							$(provinceAutocomplete).typeahead({
								    source: objResultProv,
							    });
                                $.each(objResultProv, function (index, value){
                                    if(value.id == province) {
                                        $(provinceAutocomplete).val(value.name);
                                    }
                                });
                            });

                        $.ajax({ method: "GET", url: "/Finantial/Client/AllDistricts", data: { countryId: country, departmentId: department, provinceId: province }, async: false })
                            .done(function (resultDistrict) {
                                resultDistrict = resultDistrict.replace(/Description/g, 'name');
                                resultDistrict = resultDistrict.replace(/Id/g, 'id');
                                objResultDis = jQuery.parseJSON(resultDistrict); 
    							$(districtAutocomplete).typeahead({
								    source: objResultDis,
							    });
                                $.each(objResultDis, function (index, value){
                                    if(value.id == district) {
                                        $(districtAutocomplete).val(value.name);
                                    }
                                });
                            }).fail(function (result) {
                                    toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
                            });
                    });
                    countReciber = countReciber + 1;
                });
            $("#hddCountReciber").val(countReciber);
        
            var countInvoicer = 0;
            $("#tblInvoicer > tbody > tr").each(function () {
                var tds = $(this).children();
                var reciberCode = $(tds[0]);
                var code = reciberCode.html();
                reciberCode.html("");
                reciberCode.append("<input class='form-control pull-left' style='width:100%;' name='txtInvoicerCode_"+countInvoicer+"' readonly='readonly' value='"+code+"' />");
                var reciberCountry = $(tds[1]);
                var country = reciberCountry.html();
                reciberCountry.html("");
                reciberCountry.append("<input class='form-control pull-left' style='width:100%;' id='txtInvoicerCountry_"+countInvoicer+"' name='txtInvoicerCountry_"+countInvoicer+"' /><input type='hidden' id='txtInvoicerCountryId_"+countInvoicer+"' name='txtInvoicerCountryId_"+countInvoicer+"' value='"+country+"' />");
                var reciberDepartment = $(tds[2]);
                var department = reciberDepartment.html();
                reciberDepartment.html("");
                reciberDepartment.append("<input class='form-control pull-left' style='width:100%;' id='txtInvoicerDepartment_"+countInvoicer+"' name='txtInvoicerDepartment_"+countInvoicer+"' /><input type='hidden' id='txtInvoicerDepartmentId_"+countInvoicer+"' name='txtInvoicerDepartmentId_"+countInvoicer+"' value='"+department+"' />");
                var reciberProvince = $(tds[3]);
                var province = reciberProvince.html();
                reciberProvince.html("");
                reciberProvince.append("<input class='form-control pull-left' style='width:100%;' id='txtInvoicerProvince_"+countInvoicer+"' name='txtInvoicerProvince_"+countInvoicer+"' /><input type='hidden' id='txtInvoicerProvinceId_"+countInvoicer+"' name='txtInvoicerProvinceId_"+countInvoicer+"' value='"+province+"' />");
                var reciberDistrict = $(tds[4]);
                var district = reciberDistrict.html();
                reciberDistrict.html("");
                reciberDistrict.append("<input class='form-control pull-left' style='width:100%;' id='txtInvoicerDistrict_"+countInvoicer+"' name='txtInvoicerDistrict_"+countInvoicer+"' /><input type='hidden' id='txtInvoicerDistrictId_"+countInvoicer+"' name='txtInvoicerDistrictId_"+countInvoicer+"' value='"+district+"' />");
                var reciberAddress = $(tds[5]);
                var address = reciberAddress.html();
                reciberAddress.html("");
                reciberAddress.append("<input class='form-control pull-left' style='width:100%;' name='txtInvoicerAddress_"+countInvoicer+"' value='"+address+"' />");
                var reciberCity = $(tds[6]);
                var city = reciberCity.html();
                reciberCity.html("");
                reciberCity.append("<input class='form-control pull-left' style='width:100%;' name='txtInvoicerCity_"+countInvoicer+"' value='"+city+"' />");
                var reciberZone = $(tds[7]);
                var zone = reciberZone.html();
                reciberZone.html("");               
                reciberZone.append("<input class='form-control pull-left' style='width:100%;' id='txtInvoicerZone_"+countReciber+"' name='txtInvoicerZone_"+countReciber+"' /><input type='hidden' id='txtInvoicerZoneId_"+countReciber+"' name='txtInvoicerZoneId_"+countReciber+"' value='"+zone+"' />");
                var reciberPhone = $(tds[8]);
                var phone = reciberPhone.html();
                reciberPhone.html("");
                reciberPhone.append("<input class='form-control pull-left' style='width:100%;' name='txtInvoicerPhone_"+countInvoicer+"' value='"+phone+"' />");
                var reciberContact = $(tds[9]);
                var contact = reciberContact.html();
                reciberContact.html("");
                reciberContact.append("<input class='form-control pull-left' style='width:100%;' name='txtInvoicerContact_"+countInvoicer+"' value='"+contact+"' />");
        
                var departmentId = "#txtInvoicerDepartmentId_"+countInvoicer;
                var provinceId = "#txtInvoicerProvinceId_"+countInvoicer;
                var districtId = "#txtInvoicerDistrictId_"+countInvoicer;
                var countryId = "#txtInvoicerCountryId_"+countInvoicer;
                var zoneId = "#txtInvoicerZoneId_"+countInvoicer;
                var departmentAutocomplete = "#txtInvoicerDepartment_"+countInvoicer;
                var provinceAutocomplete = "#txtInvoicerProvince_"+countInvoicer;
                var districtAutocomplete = "#txtInvoicerDistrict_"+countInvoicer;
                var countryAutocomplete = "#txtInvoicerCountry_"+countInvoicer;
                var zoneAutocomplete = "#txtInvoicerZone_"+countInvoicer;
                var postaleAutocomplete = "#txtInvoicerPostal_"+countInvoicer;

                $.ajax({ method: "GET", url: "/Finantial/Client/AllCountries", async: false })
                    .done(function (resultCountry) {
                        resultCountry = resultCountry.replace(/Description/g, 'name');
                        resultCountry = resultCountry.replace(/Id/g, 'id');
                        var objResultCountry = jQuery.parseJSON(resultCountry);
                        $(countryAutocomplete).typeahead({
                            source: objResultCountry,
                            afterSelect: function () {
                                var country = $(countryAutocomplete).typeahead("getActive");
                                $(countryId).val(country.id);
                                $.ajax({ method: "GET", url: "/Finantial/Client/AllClientZones", data: { countryId: country.id }, async: false })
                                    .done(function (resultZone) {
                                        resultZone = resultZone.replace(/Description/g, 'name');
                                        resultZone = resultZone.replace(/Id/g, 'id');
                                        var objResultZone = jQuery.parseJSON(resultZone);
                                        $(zoneAutocomplete).typeahead({
                                            source: objResultZone,
                                            afterSelect: function () {
                                                var zone = $(zoneAutocomplete).typeahead("getActive");
                                                $(zoneId).val(zone.id)
                                            }
                                        });
                                    }).fail(function (result) {
                                        toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
                                    });
                                $.ajax({ method: "GET", url: "/Finantial/Client/AllDepartments", data: { countryId: country.id } , async: false })
                                    .done(function (result) {
                                        result = result.replace(/Description/g, 'name');
                                        result = result.replace(/Id/g, 'id');
                                        var objResult = jQuery.parseJSON(result);
                                        $(departmentAutocomplete).typeahead({
                                            source: objResult,
                                            afterSelect: function () {
                                                var department = $(departmentAutocomplete).typeahead("getActive");
                                                $(departmentId).val(department.id);
                                                $.ajax({ method: "GET", url: "/Finantial/Client/AllProvinces", data: {countryId: country.id, departmentId: department.id }, async: false })
                                                    .done(function (resultProv) {
                                                        var objResultProv = jQuery.parseJSON(parseAutocomplete(resultProv));
                                                        $(provinceAutocomplete).typeahead({
                                                            source: objResultProv,
                                                            afterSelect: function () {
                                                                var province = $(provinceAutocomplete).typeahead("getActive");
                                                                $(provinceId).val(province.id);
                                                                $.ajax({ method: "GET", url: "/Finantial/Client/AllDistricts", data: { countryId: country.id, departmentId: department.id, provinceId: province.id }, async: false })
                                                                    .done(function (resultDistrict) {
                                                                        objResultDis = jQuery.parseJSON(parseAutocomplete(resultDistrict));
                                                                        $(districtAutocomplete).typeahead({
                                                                            source:objResultDis,
                                                                            afterSelect: function() {
                                                                                var district = $(districtAutocomplete).typeahead("getActive");
                                                                                $(districtId).val(district.id);
                                                                            }
                                                                        });

                                                                    }).fail(function (result) {
                                                                        toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
                                                                    });
                                                            }
                                                        });

                                                    }).fail(function (result) {
                                                        toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
                                                    });
                                            }
                                        });
                                    }).fail(function (result) {
                                        toastr.error(result.statusText, "Mensaje", { positionClass: "toast-top-full-width" });
                                    });
                            }
                        });

                        $.each(objResultCountry, function (index, value){
                            if(value.id == country) {
                                $(countryAutocomplete).val(value.name);
                            }
                        });

                        $.ajax({ method: "GET", url: "/Finantial/Client/AllClientZones", data: { countryId: country }, async: false })
                            .done(function (resultZone) {
                                var objResultZone = jQuery.parseJSON(parseAutocomplete(resultZone));
                                $(zoneAutocomplete).typeahead({
                                    source: objResultZone,
                                });
                                $.each(objResultZone, function (index, value) {
                                    if (value.id == zone) {
                                        $(zoneAutocomplete).val(value.name);
                                    }
                                }); 
                            });

                        $.ajax({ method: "GET", url: "/Finantial/Client/AllDepartments", data: { countryId: country } , async: false })
                            .done(function (result) {
                                var objResult = jQuery.parseJSON(parseAutocomplete(result));
                                $(departmentAutocomplete).typeahead({
                                    source: objResult,
                                });
                                $.each(objResult, function (index, value) {
                                    if (value.id == department) {
                                        $(departmentAutocomplete).val(value.name);
                                    }
                                }); 
                            });

                        $.ajax({ method: "GET", url: "/Finantial/Client/AllProvinces", data: {countryId: country, departmentId: department }, async: false })
                            .done(function (resultProv) {
                                var objResultProv = jQuery.parseJSON(parseAutocomplete(resultProv));
                                $(provinceAutocomplete).typeahead({
                                    source: objResultProv,
                                });
                                $.each(objResultProv, function (index, value) {
                                    if (value.id == province) {
                                        $(provinceAutocomplete).val(value.name);
                                    }
                                });                         
                        
                            });

                        $.ajax({ method: "GET", url: "/Finantial/Client/AllDistricts", data: { countryId: country, departmentId: department, provinceId: province }, async: false })
                            .done(function (resultDistrict) {
                                var objResultDis = jQuery.parseJSON(parseAutocomplete(resultDistrict));
                                $(districtAutocomplete).typeahead({
                                    source: objResultDis,
                                });
                                $.each(objResultDis, function (index, value) {
                                    if (value.id == district) {
                                        $(districtAutocomplete).val(value.name);
                                    }
                                }); 
                            });                        
                    });
                    countInvoicer = countInvoicer + 1;
            });
            $("#hddCountInvoicer").val(countInvoicer);
    }
    if(action == "1"){
        get_allClientProvinces();
        get_allClientDistrict();
    }
    
    $("#tblReciber tbody").on("click", "tr", function () {
        if ( $(this).hasClass("selected") ) {
            $(this).removeClass("selected");
        }
        else {
            tblReciber.$("tr.selected").removeClass("selected");
            $(this).addClass("selected");
        }
    });

    $(".btn-remove-reciber").click( function () {
        tblReciber.row(".selected").remove().draw( false );
    });
}
<div class="ibox float-e-margins">
    <form method="post" class="form-horizontal">
        <input id="txtAction" name="txtAction" type="hidden" value="@action" />
        @if (clientId != null)
        {
            <input id="txtClientId" name="txtClientId" type="hidden" value="@clientId" />
        }
        <input id="hddCountReciber" type="hidden" />
        <input id="hddCountInvoicer" type="hidden" />
        <div class="ibox-content">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-check-circle-o" aria-hidden="true"></i>Datos generales</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-check-circle-o" aria-hidden="true"></i>Datos de contacto</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-3"><i class="fa fa-check-circle-o" aria-hidden="true"></i>Otros</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade in active">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label class="col-md-3 control-label">Estado</label>
                                    <div class="col-md-9">
                                        <select id="chkClientState" name="chkClientState" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-3 control-label">Origen</label>
                                    <div class="col-sm-9">
                                        <select id="chkOriginClient" name="chkOriginClient" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-md-2 control-label" style="width: 12%;">Razón social</label>
                                    <div class="col-md-10">
                                        <input id="txtName" name="txtName" type="text" class="form-control" style="width: 106%;" value="@vmodel.Name">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label class="col-md-3 control-label">Tipo</label>
                                    <div class="col-md-9">
                                        <select class="form-control" id="chkpersonType" name="chkpersonType"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="p-xxs border-bottom col-md-12">
                                        <strong>Documento</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label class="col-md-3 control-label">R.U.C.</label>
                                    <div class="col-md-9">
                                        <input id="txtRucNumber" name="txtRucNumber" type="text" class="form-control" value="@vmodel.Ruc">
                                    </div>
                                </div>
                            </div>
                            <div id="divRuc" class="form-group" style="visibility: hidden;">
                                <div class="col-md-6">
                                    <label class="col-md-3 control-label">Tipo</label>
                                    <div class="col-md-9">
                                        <select class="form-control" id="chkDocumentType" name="chkDocumentType"></select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-3 control-label">Numero</label>
                                    <div class="col-md-9">
                                        <input id="txtDocumentNumber" name="txtDocumentNumber" type="text" class="form-control" value="@vmodel.DocumentIdentifier">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane fade">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-md-2 control-label" style="width: 12%;">Dirección</label>
                                    <div class="col-md-10">
                                        <input id="txtAddress" name="txtAddress" type="text" class="form-control" style="width: 106%;" value="@vmodel.Address">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label class="col-md-3 control-label">Pais</label>
                                    <div class="col-md-9">
                                        <select name="chkCountry" id="chkCountry" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-3 control-label">Ciudad</label>
                                    <div class="col-md-9">
                                        <input id="txtCity" name="txtCity" type="text" class="form-control" value="@vmodel.City">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" style="width: 13%;">Ubigeo</label>
                                <div class="col-md-3" style="width: 29%;">
                                    <select name="chkDepartment" id="chkDepartment" class="form-control"></select>
                                </div>
                                <div class="col-md-3" style="width: 29%;">
                                    <select name="chkProvince" id="chkProvince" class="form-control"></select>
                                </div>
                                <div class="col-md-3" style="width: 27.5%;">
                                    <select name="chkDistrict" id="chkDistrict" class="form-control"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="col-sm-6 control-label">Zona</label>
                                    <div class="col-sm-6">
                                        <select name="chkZone" id="chkZone" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="col-sm-6 control-label">Telefono</label>
                                    <div class="col-sm-6">
                                        <input id="txtPhone" name="txtPhone" type="text" class="form-control" value="@vmodel.Phone" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="col-sm-6 control-label">Codigo Postal</label>
                                    <div class="col-sm-6">
                                        <select name="chkPostale" id="chkPostale" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane fade">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-8">
                                    <label class="col-md-2 control-label">Correo</label>
                                    <div class="col-md-10">
                                        <input id="txtEmail" name="txtEmail" type="text" class="form-control" value="@vmodel.Email" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="col-md-4 control-label">Ingreso</label>
                                    <div class="col-md-8">
                                        <div class="input-group date">
                                            <input type="text" class="form-control" name="dpckRegister" id="dpckRegister" value="@vmodel.EntryDate">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @Html.Partial("_PartialManagmentAddress", vmodel)
                            <div class="form-group">
                                <label class="col-md-3 control-label">Registro</label>
                                <div class="col-sm-9"><p class="form-control-static">1</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-footer text-right">
            @Html.Partial("_PartialManagmentButtons", vmodel)
        </div>
    </form>
</div>