
@{
    ViewBag.Title = "Administración de tablas generales del sistema";
    ViewBag.Section = "Configuración";
    Layout = "~/Views/_Layout.cshtml";

}

@section styles_link {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css" />

    @Html.StyleLink("css/bootstrap.min.css");
    @Html.StyleLink("font-awesome/css/font-awesome.css");
    @Html.StyleLink("css/plugins/iCheck/custom.css");
    @Html.StyleLink("css/plugins/steps/jquery.steps.css");
    @Html.StyleLink("css/animate.css");
    @Html.StyleLink("css/style.css");

    @Html.StyleLink("css/plugins/chosen/bootstrap-chosen.css");
    @Html.StyleLink("css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css");

    @Html.StyleLink("css/plugins/sweetalert/sweetalert.css")
    <style type="text/css">
        body {
            padding-right: 0 !important;
        }

        .form-separation {
            margin-bottom: 7px;
            margin-top: 7px;
        }

        .form-label-separation {
            margin-bottom: 10px;
            margin-top: 7px;
        }

        .form-separation-extra {
            margin-bottom: 11px;
        }

        .dataTables_filter {
            width: 50%;
            float: right;
            text-align: right;
        }

        .button-separation {
            margin-left: 12px;
            margin-right: 12px;
        }

        .selected {
            background-color: #acbad4 !important;
        }

        .emulate-label {
            border-left: 0 !important;
            border-right: 0 !important;
            border-top: 0 !important;
            background: #eee !important;
        }

        .labe-sum-underline {
            border-bottom: 3px solid #000000 !important;
        }

        .modal-new-width {
            width: 800px !important;
        }

        .tabIcon:before {
            content: "\f192";
            margin-right: 5px;
        }

        .tabIcon {
            padding: 10px 20px !important;
        }
    </style>
}
@section scripts_link {
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>

    @Html.JavaScriptLink("js/jquery-2.1.1.js")
    @Html.JavaScriptLink("js/bootstrap.min.js")
    @Html.JavaScriptLink("js/plugins/metisMenu/jquery.metisMenu.js")
    @Html.JavaScriptLink("js/plugins/slimscroll/jquery.slimscroll.min.js")

    <!-- Custom and plugin javascript -->
    @Html.JavaScriptLink("js/inspinia.js")
    @Html.JavaScriptLink("js/plugins/pace/pace.min.js")

    <!-- Steps -->
    @Html.JavaScriptLink("js/plugins/staps/jquery.steps.min.js")

    <!-- Jquery Validate -->
    @Html.JavaScriptLink("js/plugins/validate/jquery.validate.min.js")

    @Html.JavaScriptLink("js/plugins/dataTables/datatables.min.js")
    @Html.JavaScriptLink("js/plugins/iCheck/icheck.min.js")

    @Html.JavaScriptLink("js/plugins/datapicker/bootstrap-datepicker.js")
    @Html.JavaScriptLink("js/plugins/chosen/chosen.jquery.js")
    @Html.JavaScriptLink("js/plugins/typehead/bootstrap3-typeahead.min.js")

    @Html.JavaScriptLink("js/plugins/sweetalert/sweetalert.min.js")
    @Html.JavaScriptLink("js/plugins/jquery-maskedinput/jquery.maskedinput.js")
    
    <script>
        function enable_input(btnId) {
            //var btn = $("#" + btnId);
            console.log("#" + btnId);
            console.log("--------------");
            //btn.closest(".key-input").prop("disabled", false);
            //btn.closest(".content-input").prop("disabled", false);
        }

        function getIndexes(cad) {
            var l = cad.length;
            var cAnt = ' ';
            var ini = 0;
            var listIndex = [];
            var tupla = [];

            for (i = 0; i < l; i++) {
                if (cAnt == ' ' && cad.substr(i, 1) != ' ') {
                    ini = i;
                }

                if (cAnt != ' ' && cad.substr(i, 1) == ' ') {
                    tupla = [ini, i - 1];
                    listIndex.push(tupla);
                }
                cAnt = cad.substr(i, 1);
            }
            if (cAnt != ' ') {
                tupla = [ini, l - 1];
                listIndex.push(tupla);
            }
            return listIndex;
        }
    </script>
}

@section section_script {

    var tableOfTables;
    var table_contents = [];
    var format_tuples;
    $.mask.definitions['a'] = "[A-Za-z0-9 ]";

    function loadHeaders(codTable) {

        $.ajax({
                method: "GET",
                url: "/Finantial/Settings/GetHeads",
                data: {
                    codTable: codTable
                },
                async: false
            })
            .done(function(result) {
                var jsonResult = jQuery.parseJSON(result);
                if (!jQuery.isEmptyObject(jsonResult)) {
                    tableOfTables = $(' #tableOfTables').DataTable({
                        "bPaginate": false,
                        "bLengthChange": false,
                        "bFilter": false,
                        "bInfo": false,
                        "bAutoWidth": false,
                        "paging": false,
                        "columns": [{
                                data: "edit",
                                width: "1%",
                                title: ""
                            },
                            {
                                data: "delete",
                                width: "1%",
                                title: ""
                            },
                            {
                                data: "key",
                                width: "1%",
                                title: "<div>" + jsonResult[0].TK + "<br />" + jsonResult[0].CK + "</div>"
                            },
                            {
                                data: "content",
                                title: "<div style='White-space:pre;'>" + jsonResult[0].TF + "<br />" + jsonResult[0].CF + "</div>"
                            }
                        ]
                    });

                    var content_headers = jsonResult[0].TF.split(/\s+/);
                    var content_format = jsonResult[0].CF.split(/\s+/);
                    format_tuples = getIndexes(jsonResult[0].CF);

                    $.each(content_headers, function(index, value) {
                        var element = "<div class='form-group'><label class='control-label' for='" + value + "'>" + value + ":</label><input class='form-control' id='edit_input_" + index + "'></div>"

                        if (index % 2 == 0) {
                            $("#edit-line-1").append(element);
                        } else {
                            $("#edit-line-2").append(element);
                        }

                        var reg = content_format[index].replace(/([a-zA-Z0-9])/g, "a");
                        $('#edit_input_' + index).mask(reg);
                    });
                }
            })
            .fail(function(result) {
                toastr.error(result.statusText, "Mensaje", {
                    positionClass: "toast-top-full-width"
                });
            });

    }

    function btn_edit_click() {
        var btn_id = $(this).attr('id');
        var btn_id_split = btn_id.split('_');
        var id = btn_id_split[1];

        var selected_content = table_contents[id].content;

        $.each(format_tuples, function(index, value) {
            var input_value = selected_content.substring(value[0], value[1] + 1);
            $('#edit_input_' + index).val(input_value);
        });

        $('#editLineModal').modal('show');
    }

    function loadData(primaryCode, secondCode) {
        var data = {
            primaryCode: primaryCode
        }

        if (secondCode != null) {
            data.secondCode = secondCode;
        }

        $.ajax({
                method: "GET",
                url: "/Finantial/Settings/GetData",
                data: data
            })
            .done(function(result) {
                var jsonResult = jQuery.parseJSON(result);
                if (!jQuery.isEmptyObject(jsonResult)) {
                    table_contents = jsonResult;
                    $.each(jsonResult, function(index, value) {
                        var dataUnit = {};
                        var nameDelete = 'btndelete_' + index;
                        var nameEdit = 'btnedit_' + index;
                        dataUnit.edit = "<button type='button' id='" + nameEdit + "' class='btn btn-outline btn-primary'><i class='fa fa-pencil' aria-hidden='true'></i></button>";
                        dataUnit.delete = "<button type='button' id='" + nameDelete + "' class='btn btn-outline btn-danger'><i class='fa fa-trash' aria-hidden='true'></i></button>";
                        dataUnit.key = "<div>" + value.key + "</div>";
                        dataUnit.content = "<div style='White-space:pre;'>" + value.content + "</div>";
                        var dataSet = [];
                        dataSet.push(dataUnit);

                        tableOfTables.rows.add(dataSet).draw();
                        $('#btnedit_' + index).bind('click', btn_edit_click);
                    });
                }
            })
            .fail(function(result) {
                toastr.error(result.statusText, "Mensaje", {
                    positionClass: "toast-top-full-width"
                });
            });
    }


    function load_table(primaryCode, secondCode) {
        loadHeaders(primaryCode);
        loadData(primaryCode, secondCode);
    }

    function load_table_names() {
        $.ajax({
                method: "GET",
                url: "/Finantial/Settings/GetTTNames"
            })
            .done(function(result) {
                var jsonResult = jQuery.parseJSON(result);
                if (!jQuery.isEmptyObject(jsonResult)) {
                    $('#primary_table_id').typeahead({
                        source: jsonResult
                    });
                }
            })
            .fail(function(result) {
                toastr.error(result.statusText, "Mensaje", {
                    positionClass: "toast-top-full-width"
                });
            });
    }

    function load_table_names_second() {
        $.ajax({
                method: "GET",
                url: "/Finantial/Settings/GetTTNames"
            })
            .done(function(result) {
                var jsonResult = jQuery.parseJSON(result);
                if (!jQuery.isEmptyObject(jsonResult)) {
                    $('#second_table_id').typeahead({
                        source: jsonResult
                    });
                }
            })
            .fail(function(result) {
                toastr.error(result.statusText, "Mensaje", {
                    positionClass: "toast-top-full-width"
                });
            });
    }

    load_table_names();
    load_table_names_second();
    load_table(1, null);

    $('#primary_table_id').change(function() {
        var primary_id = $(this).typeahead("getActive").Value;
        if (primary_id == "999") {
            $("#secondgroup").removeClass("hidden");
            return;
        } else {
            $("#secondgroup").addClass("hidden");
        }

        tableOfTables.clear().draw();
        $('#tableOfTables').dataTable().fnDestroy();

        load_table(primary_id, null);

    });

    $('#second_table_id').change(function() {
        var primary_id = $('#primary_table_id').typeahead("getActive").Value;
        var second_id = $(this).typeahead("getActive").Value;

        tableOfTables.clear().draw();
        $('#tableOfTables').dataTable().fnDestroy();

        load_table(primary_id, second_id);

    });

    $('#btnSaveEdit').click(function(){
        
    });
}

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div id="primarygroup" class="row">
                    <div class="form-group" style="padding-bottom: 50px; padding-top: 20px;">
                        <label class="col-sm-2 control-label">Ingrese Una Tabla</label>
                        <div class="col-sm-10"><input id="primary_table_id" style="width:60%;" type="text" class="form-control"></div>
                    </div>
                </div>
                <div id="secondgroup" class="row hidden" style="padding-bottom: 20px;">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Ingrese la tabla que desea editar</label>
                        <div class="col-sm-10"><input id="second_table_id" style="width:60%;" type="text" class="form-control"></div>
                    </div>
                </div>
                <div style="width:100%; height:500px; overflow:scroll;">
                    <table class="table table-striped table-bordered table-hover" id="tableOfTables" style="font-family: monospace !important;">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="editLineModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Editar</h4>
            </div>
            <div style="height:500px; overflow-y:scroll; overflow-x:hidden;">
                <div class="modal-body">
                    <form id="edit_form">
                        <div class="row">
                            <div class="col-lg-6" id="edit-line-1"></div>
                            <div class="col-lg-6" id="edit-line-2"></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-default" id="btnSaveEdit">Guardar</button>
            </div>
        </div>
    </div>
</div>