
@{
    ViewBag.Title = "Edición del documento " + ViewBag.documentType + "-" + ViewBag.documentId;
    ViewBag.Section = "Facturación";
    Layout = "~/Views/_Layout.cshtml";
}

@section styles_link {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css" />

    @Html.StyleLink("css/bootstrap.min.css")
    @Html.StyleLink("font-awesome/css/font-awesome.css")
    @Html.StyleLink("css/plugins/iCheck/custom.css")
    @Html.StyleLink("css/plugins/steps/jquery.steps.css")
    @Html.StyleLink("css/animate.css")
    @Html.StyleLink("css/style.css")
    @Html.StyleLink("css/plugins/chosen/bootstrap-chosen.css")
    @Html.StyleLink("css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css")

    @Html.StyleLink("css/plugins/sweetalert/sweetalert.css")
    <style type="text/css">
        body {
            padding-right: 0 !important;
        }

        .form-separation {
            margin-bottom: 7px;
            margin-top: 7px;
        }

        .form-label-separation {
            margin-bottom: 10px;
            margin-top: 7px;
        }

        .form-separation-extra {
            margin-bottom: 11px;
        }

        .dataTables_filter {
            width: 50%;
            float: right;
            text-align: right;
        }

        .button-separation {
            margin-left: 12px;
            margin-right: 12px;
        }

        .selected {
            background-color: #acbad4 !important;
        }

        .emulate-label {
            border-left: 0 !important;
            border-right: 0 !important;
            border-top: 0 !important;
            background: #eee !important;
        }

        .labe-sum-underline {
            border-bottom: 3px solid #000000 !important;
        }

        .modal-new-width {
            width: 800px !important;
        }

        .tabIcon:before {
            content: "\f192";
            margin-right: 5px;
        }

        .tabIcon {
            padding: 10px 20px !important;
        }
    </style>

}
@section scripts_link {
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>

    @Html.JavaScriptLink("js/jquery-2.1.1.js")
    @Html.JavaScriptLink("js/bootstrap.min.js")
    @Html.JavaScriptLink("js/plugins/metisMenu/jquery.metisMenu.js")
    @Html.JavaScriptLink("js/plugins/slimscroll/jquery.slimscroll.min.js")

    <!-- Custom and plugin javascript -->
    @Html.JavaScriptLink("js/inspinia.js")
    @Html.JavaScriptLink("js/plugins/pace/pace.min.js")

    <!-- Steps -->
    @Html.JavaScriptLink("js/plugins/staps/jquery.steps.min.js")

    <!-- Jquery Validate -->
    @Html.JavaScriptLink("js/plugins/validate/jquery.validate.min.js")

    @Html.JavaScriptLink("js/plugins/dataTables/datatables.min.js")
    @Html.JavaScriptLink("js/plugins/iCheck/icheck.min.js")

    @Html.JavaScriptLink("js/plugins/datapicker/bootstrap-datepicker.js")
    @Html.JavaScriptLink("js/plugins/chosen/chosen.jquery.js")
    @Html.JavaScriptLink("js/plugins/typehead/bootstrap3-typeahead.min.js")

    @Html.JavaScriptLink("js/plugins/sweetalert/sweetalert.min.js")

    <script>
        var currentDate = new Date();
        var month = currentDate.getMonth() + 1;
        var day = currentDate.getDate();
        var dateOutput = (day < 10 ? '0' : '') + day + '/' + (month < 10 ? '0' : '') + month + '/' + currentDate.getFullYear();

        $(".currentDateDefault").val(dateOutput);

        $(document).ajaxStop(function () {
            $("#spinner").hide();
        });

        $(document).ajaxSend(function () {
            $("#spinner").show();
        });

        $(document).ajaxStart(function () {
            $("#spinner").show();
        });
      
        $("#spinner").bind("ajaxSend", function () {
            $("#spinner").show();
        }).bind("ajaxComplete", function () {
            $("#spinner").hide();
        }).bind("ajaxStop", function () {
            $("#spinner").hide();
        }).bind("ajaxError", function () {
            $("#spinner").hide();
        });

    </script>
}

@section section_script {
    $("#toHide").hide();
    $("#btnSubmit").click(function() {
        var inputNotFilledYet = false;
        var selectNotFilledYet = false;
        $('input[required]').each(function(){
            if ($(this).val() == ""){
                $(this).focus();
                var curName = "#"+($(this)[0].id)+"Label";
                toastr.error("Campo obligatorio", "Falta completar el campo "+$(curName)[0].textContent, {
                    positionClass: "toast-top-right"
                });
                inputNotFilledYet = true;
                return;
            }
        });
        $('select[required]').each(function(){
            if ($(this)[0].selectedIndex == -1){
                selectNotFilledYet = true;
                return;
            }
        });
        if (inputNotFilledYet || selectNotFilledYet){
            return;
        }else{
            swal({
                title: "Confirmación",
                text: "¿Crear documento?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Sí",
                closeOnConfirm: false
            }, function() {
                swal({
                    title: "Generado",
                    text: "Documento creado exitosamente",
                    type: "success",
                    confirmButtonText: "Continuar"
                    }, function () {
                         $("#formInvoice").submit();
                });
            });
        }
    });

    $("#tableProducts").on('change', function() {
        calculate_total();
    });

    $('#data_1 .input-group.date').datepicker({
        format: 'dd/mm/yyyy',
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true
    });

    $('#clienteOcasionalCB').on('ifChecked', function() {
        $('#botonBuscarCliente').hide();
        $('#codInput').hide();
        $('#docInput').prop('readonly', false);
        $('#docInput').removeClass('emulate-label');
        $('#codLabel').hide();
        $('.typeInput').hide();
        $('#typeLabel').hide();

        $('#docInput').val('');
        $('#nameInput').val('');
        $('#phoneInput').val('');
        $('#mailInput').val('');
        $('#clientCode').val('99999999');
        $('#dirInput').val("");
        $('#dirInputContent').val("");

        $('#dirInputContent').removeClass("hidden");
        $('#dirInputSelect').addClass("hidden");
        $('#dirInputSelect').next().addClass("hidden");

        $('#perception_chosen').hide();
    });

    $('#clienteOcasionalCB').on('ifUnchecked', function() {
        $('#botonBuscarCliente').show();
        $('#codInput').show();
        $('#docInput').prop('readonly', true);
        $('#docInput').addClass('emulate-label');
        $('#codLabel').show();
        $('.typeInput').show();
        $('#typeLabel').show();

        $('#docInput').val('');
        $('#nameInput').val('');
        $('#phoneInput').val('');
        $('#mailInput').val('');
        $('#clientCode').val('');
        $('#dirInput').val("");
        $('#dirInputContent').val("");

        $('#dirInputContent').addClass("hidden");
        $('#dirInputSelect').removeClass("hidden");
        $('#dirInputSelect').next().removeClass("hidden");

        $('#perception_chosen').show();
    });

    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });

    $("#dirInputSelect").chosen({
        width: "100%",
        disable_search: true
    });

    $("#condVenta").chosen({
        width: "100%",
        disable_search: true
    });

    $("#codFinanciero").chosen({
        width: "100%",
        disable_search: true
    });

    $("#tipoVenta").chosen({
        width: "100%",
        disable_search: true
    });

    $("#vendedor").chosen({
        width: "100%",
        disable_search: true
    });

    $("#formaPago").chosen({
        width: "100%",
        disable_search: true
    });

    $("#lineaNegocio").chosen({
        width: "100%",
        disable_search: true
    });

    $("#invoiceType").chosen({
        width: "100%",
        disable_search: true
    });

    $("#idSerieExterno").chosen({
        width: "100%",
        disable_search: true
    });

    $("#currency").chosen({
        width: "100%",
        disable_search: true
    });

    $("#language").chosen({
        width: "100%",
        disable_search: true
    });

    $("#taxe").chosen({
        width: "100%",
        disable_search: true
    });

    $("#perception").chosen({
        width: "100%",
        disable_search: true
    });
    //ComboBox Tab1

    initialize_combo_ajax("#condVenta", "/Finantial/Invoice/GetCondSells");
    initialize_combo_ajax("#tipoVenta", "/Finantial/Invoice/GetSellTypes");
    initialize_combo_ajax("#codFinanciero", "/Finantial/Invoice/GetFinantialCodes");
    initialize_combo_ajax("#vendedor", "/Finantial/Invoice/GetSellers");
    initialize_combo_ajax("#lineaNegocio", "/Finantial/Invoice/GetBussinessLine");

    $("#condVenta").change(function() {
        var condition = $(this).val();
        $.ajax({
                method: "GET",
                url: "/Finantial/Invoice/GetPayments",
                data: {
                    cond_sell: condition
                }
            })
            .done(function(result) {
                var jsonResult = jQuery.parseJSON(result);
                //console.log(result);
                //console.log(jsonResult);
                console.log("Actualiza");
                if (!jQuery.isEmptyObject(jsonResult)) {
                    populate_combo_box("#formaPago", jsonResult);
                }
            })
            .fail(function(result) {
                toastr.error(result.statusText, "Mensaje", {
                    positionClass: "toast-top-full-width"
                });
            });
    });

    $("#perception").change(function(){
        calculate_total();
    });


    //Fin ComboBox Tab1

    //ComboBox Tab2

    initialize_combo_ajax("#invoiceType", "/Finantial/Invoice/GetDocumentTypes", false);
    $("#invoiceType").val("");
    $("#invoiceType").trigger("chosen:updated");

    initialize_combo_ajax("#currency", "/Finantial/Invoice/GetCurrencies");
    initialize_combo_ajax("#language", "/Finantial/Invoice/GetLanguages");
    initialize_combo_ajax("#taxe", "/Finantial/Invoice/GetTaxes", false);
    $("#taxe").val("");
    $("#taxe").trigger("chosen:updated");

    $("#taxe").change(function() {
        var selectedVal = $("#taxe option:selected").text();
        var selectedNumber = selectedVal.split(" ").pop();
        $("#taxeNumber").val(selectedNumber.split("%")[0]);
    });

    $("#dirInputSelect").change(function() {
        $("#dirInputContent").val($("#dirInputSelect option:selected").text());
        $("#dirInput").val($("#dirInputSelect").val());
    });

    $.ajax({
            method: "GET",
            url: "/Finantial/Invoice/GetPerception",
            async: false
        })
        .done(function(result) {
            //console.log(result);
            var jsonResult = jQuery.parseJSON(result);

            combo_box = $("#perception");
            $.each(jsonResult, function(index, value) {
                combo_box.append("<option>" + value.Value + "</option>");
            });
            combo_box.trigger("chosen:updated");
        })
        .fail(function(result) {
            toastr.error(result.statusText, "Mensaje", {
                positionClass: "toast-top-full-width"
            });
        });
    $("#perception").val("");
    $("#perception").trigger("chosen:updated");

    $("#invoiceType").change(function() {
        var invoice = $(this).val();
        $.ajax({
                method: "GET",
                url: "/Finantial/Invoice/GetSeries",
                data: {
                    doctype: invoice
                }
            })
            .done(function(result) {
                //console.log(result);
                var jsonResult = jQuery.parseJSON(result);

                combo_box = $("#idSerieExterno");
                combo_box.empty();
                combo_box.trigger("chosen:updated");
                var default_value;
                $.each(jsonResult, function(index, value) {
                    combo_box.append("<option>" + value.Value + "</option>");
                    if (value.Default == "true")
                        default_value = value.Value;
                });
                combo_box.val(default_value);
                combo_box.trigger("chosen:updated");

            })
            .fail(function(result) {
                toastr.error(result.statusText, "Mensaje", {
                    positionClass: "toast-top-full-width"
                });
            });
    });


    $("#invoiceType").change(function() {
        var docType = $(this).val();
        $.ajax({
                method: "GET",
                url: "/Finantial/Invoice/DocumentFlg",
                data: {
                    documentType: docType
                }
            })
            .done(function(result) {
                var jsonResult = jQuery.parseJSON(result);
                if (!jQuery.isEmptyObject(jsonResult)) {
                    if (jsonResult[0].Content == "N") {
                        $(".docFlgTrigger").hide();
                        $("#serNumber").val("");
                        $("#nroInt").val("");
                        $("#nroDocRef").val("");
                        $("#nroDocRefExt").val("");
                    } else {
                        $(".docFlgTrigger").show();
                    }
                }
            })
            .fail(function(result) {
                toastr.error(result.statusText, "Mensaje", {
                    positionClass: "toast-top-full-width"
                });
            });
    });

    //calculate_expiration_date("#formaPago");
    //calculate_expiration_date("#fechaDoc");



    //Fin ComboBox Tab2

    //Tab 4

    $("#btnCrearFactura").click(function() {
        //getInvoiceHeader();
        console.log('@ViewBag.documentId');
        updateInvoiceHeader('@ViewBag.documentId');
    });

    //Fin Tab 4

    //Inicio de data dummy
    var dataClient = {
        "ClientCode": "666",
        "ClientType": "Natural",
        "DocumentNumber": "6688",
        "ClientPhone": "442131231",
        "ClientEmail": "a@caca.com"
    };
    var dataClient2 = {
        "ClientCode": "6662",
        "ClientType": "Natural2",
        "DocumentNumber": "6688222",
        "ClientPhone": "442131231",
        "ClientEmail": "a@caca.com"
    };

    var dataSetClient = [];
    dataSetClient.push(dataClient);
    dataSetClient.push(dataClient2);

    var dataUnit = {
        "item": "1",
        "concept": "observacion",
        "desc": "descripcion",
        "price": "8",
        "tax": "18",
        "porc": "5"
    };
    dataUnit.amount = "<input class='form-control pull-left' style='width: 70%;margin-right: -100px;' type='number' value='' id='item_amount_" + 1 + "'>";
    dataUnit.comment = "<input class='form-control' value='' id='item_comment_" + 1 + "'>";
    dataUnit.price = "<input class='form-control pull-left' style='width: 70%;margin-right: -100px;' type='number' id='item_price_" + 1 + "'>";

    var dataSet = [];
    dataSet.push(dataUnit);

    //Fin de data dummy


    var tableClients = $('#seleccionarCliente').DataTable({
        "bPaginate": false,
        "bLengthChange": false,
        "bFilter": true,
        "bInfo": false,
        "bAutoWidth": false,
        "searching": false,
        "paging": true,
        columns: [{
                title: "Cod.",
                data: "ClientCode"
            },
            {
                title: "Nombre",
                data: "ClientName"
            },
            {
                title: "RUC/DNI",
                data: "DocumentNumber"
            },
            {
                title: "Teléfono",
                data: "ClientPhone"
            },
            {
                title: "Email",
                data: "ClientEmail"
            }
        ]
    });
    //Tabla de Facturas
    var tableSeries = $('#seleccionarSerie').DataTable({
        "bPaginate": false,
        "bLengthChange": false,
        "bFilter": true,
        "bInfo": false,
        "bAutoWidth": false,
        "searching": false,
        "paging": true,
        columns: [{
                title: "Documento",
                data: "DocumentType",
                width: "12%"
            },
            {
                title: "Serie",
                data: "Serie",
                width: "10%"
            },
            {
                title: "Cod. Cliente",
                data: "ClientCode",
                width: "5%"
            },
            {
                title: "Razón Social",
                data: "ClientName",
                width: "8%"
            },
            {
                title: "RUC/DNI",
                data: "ClientDoc",
                width: "5%"
            },
            {
                title: "Fecha",
                data: "Date",
                width: "10%"
            },
            {
                title: "Moneda",
                data: "Currency",
                width: "5%"
            },
            {
                title: "Importe",
                data: "Amount",
                width: "5%"
            },
        ]
    });

    $('#seleccionarCliente tbody').on('click', 'tr', function() {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        } else {
            tableClients.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    });

    $('#seleccionarSerie tbody').on('click', 'tr', function() {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        } else {
            tableSeries.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    });


    $('#modalClientOk').click(function() {
        var parentRow = $('.selected');
        if (parentRow.val() != undefined) {
            $("#codInput").val(parentRow.children('td').eq(0).text());
            //$(".typeInput").val(parentRow.children('td').eq(1).text());
            $("#docInput").val(parentRow.children('td').eq(2).text());
            $("#nameInput").val(parentRow.children('td').eq(1).text());
            $("#phoneInput").val(parentRow.children('td').eq(3).text());
            $("#mailInput").val(parentRow.children('td').eq(4).text());
            tableClients.row('.selected').remove().draw(false);

            var clientCode = parentRow.children('td').eq(0).text();

            $("#clientCode").val(clientCode);

            $.ajax({
                    method: "GET",
                    url: "/Finantial/Invoice/GetInvoiceAdresses",
                    data: {
                        clientId: clientCode
                    }
                })
                .done(function(result) {
                    var jsonResult = jQuery.parseJSON(result);
                    if (!jQuery.isEmptyObject(jsonResult)) {
                        populate_combo_box("#dirInputSelect", jsonResult);
                        $("#dirInputSelect").val("");
                        $("#dirInputSelect").trigger("chosen:updated");
                    }
                })
                .fail(function(result) {
                    toastr.error(result.statusText, "Mensaje", {
                        positionClass: "toast-top-full-width"
                    });
                });

            //Pedir el codigo (Usuario) segun cada caso para poder actualizar los chosen

            $.ajax({
                    method: "GET",
                    url: "/Finantial/Invoice/ClientDefaultValues",
                    data: {
                        clientId: clientCode
                    }
                })
                .done(function(result) {
                    var jsonResult = jQuery.parseJSON(result);
                    if (!jQuery.isEmptyObject(jsonResult)) {
                        update_chosen_select("#taxe", jsonResult[0].TaxId);
                        update_chosen_select("#currency", jsonResult[0].CurrencyId);
                        update_chosen_select("#tipoVenta", jsonResult[0].TypeSell);
                        update_chosen_select("#condVenta", jsonResult[0].CondSell);
                        update_chosen_select("#formaPago", jsonResult[0].Payment);
                        update_chosen_select("#vendedor", jsonResult[0].Seller);
                        update_chosen_select("#codFinanciero", jsonResult[0].FinantialCode);
                        update_chosen_select("#lineaNegocio", jsonResult[0].BussinessLine);
                        update_chosen_select("#language", jsonResult[0].Language);
                        if (jsonResult[0].FlgPer == "N") {
                            $('#perception_chosen').hide();
                            $('#perceptionLabel').hide();
                            update_chosen_select("#perception", "");
                        } else {
                            $('#perception_chosen').show();
                            $('#perceptionLabel').show();
                        }

                        var condition = $("#condVenta").val();
                        $.ajax({
                                method: "GET",
                                url: "/Finantial/Invoice/GetPayments",
                                data: {
                                    cond_sell: condition
                                }
                            })
                            .done(function(result) {
                                var jsonResult = jQuery.parseJSON(result);
                                if (!jQuery.isEmptyObject(jsonResult)) {
                                    populate_combo_box("#formaPago", jsonResult);
                                }
                            })
                            .fail(function(result) {
                                toastr.error(result.statusText, "Mensaje", {
                                    positionClass: "toast-top-full-width"
                                });
                            });

                    }
                })
                .fail(function(result) {
                    toastr.error(result.statusText, "Mensaje", {
                        positionClass: "toast-top-full-width"
                    });
                });

            /*update_chosen_select("#condVenta","0002");
            update_chosen_select("#"formaPago);
            update_chosen_select("#vendedor");
            update_chosen_select("#tipoVenta");
            update_chosen_select("#codFinanciero");
            update_chosen_select("#lineaNegocio"); */
        }
    });

    $('#modalSerieOk').click(function() {
        var parentRow = $('.selected');
        var invoiceDoc = parentRow.children('td').eq(0).text();
        var invoiceSerie = parentRow.children('td').eq(1).text();
        var invoiceParsed = invoiceDoc.split("-");
        var invoiceSerieParsed = invoiceSerie.split("-");
        $("#serNumber").val($.trim(invoiceParsed[0]));
        $("#nroInt").val($.trim(invoiceParsed[1]));
        $("#nroDocRef").val($.trim(invoiceSerieParsed[0]));
        $("#nroDocRefExt").val($.trim(invoiceSerieParsed[1]));
        tableSeries.row('.selected').remove().draw(false);
    });


    //Agregar un cliente a la tabla - Step 1
    $('#btnFilter').click(function() {
        var filterContent = $('#filterInput').val();
        //tableClients.clear().rows.add(dataSetClient).draw();
        $.ajax({
                method: "GET",
                url: "/Finantial/Invoice/Get_Clients",
                data: {
                    filter: filterContent
                }
            })
            .done(function(result) {
                //console.log(result);
                var jsonResult = jQuery.parseJSON(result);
                //if (!jQuery.isEmptyObject(jsonResult)) {
                tableClients.clear().rows.add(jsonResult).draw();
                //}
            })
            .fail(function(result) {
                toastr.error(result.statusText, "Mensaje", {
                    positionClass: "toast-top-full-width"
                });
            });
    });

    //Filtrar las series
    $('#btnFilterSerie').click(function() {
        var filterContent = $('#filterInputSerie').val();
        //tableSeries.clear().rows.add(dataSetClient).draw();
        $.ajax({
                method: "GET",
                url: "/Finantial/Invoice/Invoices_Populate",
                data: {
                    filter: filterContent,
                    clientCode: clientCodeFilter
                }
            })
            .done(function(result) {
                //console.log(result);
                var jsonResult = jQuery.parseJSON(result);

                tableSeries.clear().rows.add(jsonResult).draw();

            })
            .fail(function(result) {
                toastr.error(result.statusText, "Mensaje", {
                    positionClass: "toast-top-full-width"
                });
            });
    });

    function calculate_expiration_date(idElement) {
        $(idElement).change(function() {
            var docType = $("#formaPago").val();
            var currDate = $("#fechaDoc").val();
            console.log(docType);
            console.log(currDate);
            $.ajax({
                    method: "GET",
                    url: "/Finantial/Invoice/GetExpirationDate",
                    data: {
                        payment: docType,
                        documentDate: currDate
                    }
                })
                .done(function(result) {
                    var jsonResult = jQuery.parseJSON(result);
                    console.log(jsonResult[0]);
                    $("#fechaVenc").val(jsonResult[0].Content);
                })
                .fail(function(result) {
                    toastr.error(result.statusText, "Mensaje", {
                        positionClass: "toast-top-full-width"
                    });
                });
        });
    }


    //Function que por request AJAX llena un comboBox
    function initialize_combo_ajax(idSelect, url, async = true) {
        $.ajax({
                method: "GET",
                url: url,
                async: async
            })
            .done(function(result) {
                var jsonResult = jQuery.parseJSON(result);
                if (!jQuery.isEmptyObject(jsonResult)) {
                    populate_combo_box(idSelect, jsonResult);
                }
            })
            .fail(function(result) {
                toastr.error(result.statusText, "Mensaje", {
                    positionClass: "toast-top-full-width"
                });
            });
    }

    //Function que llena un comboBox
    function populate_combo_box(idCombo, data) {
        combo_box = $(idCombo);
        combo_box.empty();
        combo_box.trigger("chosen:updated");
        $.each(data, function(index, value) {
            combo_box.append("<option value='" + value.Value + "'>" + value.Content + "</option>");
        });
        combo_box.trigger("chosen:updated");
    }

    //Function que hace update a un chosen select
    function update_chosen_select(chosenId, value) {
        var chosenElement = $(chosenId);
        //chosenElement.attr("disabled", true);
        chosenElement.val(value);
        chosenElement.trigger("chosen:updated");
    }


    function updateInvoiceHeader(idInvoice) {
        var ClientCode = $("#clientCode").html();
        var ClientID = $("#docInput").val();
        var ClientPhone = $("#phoneInput").val();
        var ClientName = $("#nameInput").val();
        var ClientMail = $("#mailInput").val();
        var ClientAddressValue = $("#dirInput").val();
        var ClientAddressContent = $("#dirInputContent").val();

        var CondVenta = $("#condVenta").val();
        var TipoVenta = $("#tipoVenta").val();
        var FormaPago = $("#formaPago").val();
        var CodFinanciero = $("#codFinanciero").val();
        var Vendedor = $("#vendedor").val();
        var LineaNegocio = $("#lineaNegocio").val();

        var TipoDoc = $("#invoiceType").val();
        var SerieExterno = $("#idSerieExterno").val();
        var FechaDoc = $("#fechaDoc").val();
        var FechaVenc = $("#fechaVenc").val();
        var Currency = $("#currency").val();
        var Language = $("#language").val();
        var Taxe = $("#taxe").val();
        var Perception = $("#perception").val();

        var Glosa = $("#glosa").val();
        var Donacion = $("#donacionCB").is(":checked") == true ? "S" : "N";
        var SerieNumber = $("#serNumber").val();
        var NroInt = $("#nroInt").val();
        var NroDocRef = $("#nroDocRef").val();
        var NroDocRefExt = $("#nroDocRefExt").val();
        var NroOC = "";
        var NroGuiaRemision = "";
        var Trabajador = "";


        $.ajax({
                method: "POST",
                url: "/Finantial/Invoice/UpdateInvoiceHead",
                data: {
                    documentId: idInvoice,
                    documentType: TipoDoc,
                    currency: Currency,
                    documentDate: FechaDoc,
                    documentExpiration: FechaVenc,
                    porTax: $("#porcNumber").val(),
                    clienteCode: ClientCode,
                    codTax: Taxe,
                    clientName: ClientName,
                    invoiceAddress: ClientAddressContent,
                    clientId: ClientID,
                    glosa: Glosa,
                    sellType: TipoVenta,
                    language: Language,
                    condSell: CondVenta,
                    payment: FormaPago,
                    bussinessline: LineaNegocio,
                    finantialcod: CodFinanciero,
                    telephone: ClientPhone,
                    seller: Vendedor,
                    employeeId: Trabajador,
                    perception: Perception,
                    donate: Donacion,
                    documentTypeRef: SerieNumber,
                    documentIdRef: NroInt,
                    documentOc: NroOC,
                    guiRem: NroGuiaRemision,
                    addressId: ClientAddressValue,
                    serieExtRef: NroDocRef,
                    nroDoceExt: NroDocRefExt
                }
            })
            .done(function(result) {
                updateInvoiceDetail(idInvoice, TipoDoc, Perception);
                $("#btnCrearFactura").prop('disabled', true);
                $("#btnFacturacionE").prop('disabled', false);
                $("#btnPDF").prop('disabled', false);
                $("#btnFacturacionM").prop('disabled', false);
            })
            .fail(function(result) {
                toastr.error(result.statusText, "Mensaje", {
                    positionClass: "toast-top-full-width"
                });
            });


    }

    $("#btnFacturacionM").click(function() {
        $.ajax({
                method: "POST",
                url: "/Finantial/Invoice/GenerateReporte",
                data: {
                    documentId: '@ViewBag.documentId',
                    documentType: '@ViewBag.documentType'
                }
            })
            .done(function(result) {})
            .fail(function(result) {
                toastr.error(result.statusText, "Mensaje", {
                    positionClass: "toast-top-full-width"
                });
            });
    });

    function updateInvoiceDetail(idInvoice, tipoDoc, perception) {
        tableProduct.rows().every(function(rowIdx, tableLoop, rowLoop) {

            var curData = this.data();
            var concept = $('#item_concept_' + curData.item).val();
            var comment = $('#item_comment_' + curData.item).val();
            var costCenter = $('#item_cost_center_' + curData.item).val();
            var taxe = $('#item_tax_' + curData.item).val();
            var price = $('#item_price_' + curData.item).val();
            var amount = $('#item_amount_' + curData.item).val();
            var subtotal = $('#item_subtotal_' + curData.item).val();

            var typeConcept = $('#item_concept_' + curData.item);
            var typeCostCenter = $('#item_cost_center_' + curData.item);

            var conceptSource = typeConcept.data('typeahead').source;
            var costCenterSource = typeCostCenter.data('typeahead').source;

            var conceptValue = getCodeByName(conceptSource, concept);
            var costCenterValue = getCodeByName(costCenterSource, costCenter);

            $.ajax({
                    method: "POST",
                    url: "/Finantial/Invoice/DeleteDetailsInvoice",
                    data: {
                        documentType: tipoDoc,
                        documentId: idInvoice
                    }
                })
                .done(function(result) {})
                .fail(function(result) {
                    toastr.error(result.statusText, "Mensaje", {
                        positionClass: "toast-top-full-width"
                    });
                });

            $.ajax({
                    method: "POST",
                    url: "/Finantial/Invoice/InsertDetailInvoice",
                    data: {
                        documentType: tipoDoc,
                        documentId: idInvoice,
                        conceptId: conceptValue,
                        observacion: comment,
                        cantidad: amount,
                        unitValue: price,
                        taxId: taxe,
                        perception: perception,
                        ccoId: costCenterValue
                    }
                })
                .done(function(result) {})
                .fail(function(result) {
                    toastr.error(result.statusText, "Mensaje", {
                        positionClass: "toast-top-full-width"
                    });
                });
        });
    }


    //--------------------------------------------------------- Inicio modificacion Ale


    var tableProduct = $('#tableProducts').DataTable({
        "bPaginate": false,
        "bLengthChange": false,
        "bFilter": false,
        "bInfo": false,
        "bAutoWidth": false,
        "paging": true,
        columns: [{
                title: "Concepto",
                data: "concept"
            },
            {
                title: "Comentario",
                data: "comment"
            },
            {
                title: "Centro de costos",
                data: "cost_center"
            },
            {
                title: "Impuesto",
                data: "tax"
            },
            {
                title: "Valor Unitario",
                data: "price"
            },
            {
                title: "Cantidad",
                data: "amount"
            },
            {
                title: "Subtotal",
                data: "subtotal"
            },
            {
                title: "",
                data: "delete"
            }
        ]
    });

    tableProduct.page.len(5).draw();



    //create_dataset();

    $('#botonAgregarProducto').click(function() {
        var rowsCount = $("#tableProducts tr").length;
        create_dataset(rowsCount);
    });

    $('#tableProducts tbody').on('click', 'a.delete', function() {
        tableProduct
            .row($(this).parents('tr'))
            .remove()
            .draw();

        calculate_total();
    });

    function getCodeByName(source, name) {
        var code = "";
        $.each(source, function(key, value) {
            if (name === value.name) {
                code = value.Value;
                return false;
            }
        });
        return code;
    }

    function getNameByCode(source, code) {
        var name = "";
        $.each(source, function(key, value) {
            if (code === value.Value) {
                name = value.name;
                return false;
            }
        });
        return name;
    }
    var itemNum = 0;

    function create_dataset(rowsCount) {
        var itemNum = rowsCount - 1;
        var dataUnit = {
            "porc": "5"
        };
        dataUnit.item = itemNum;
        dataUnit.amount = "<input class='form-control pull-left input-add_product' style='width: 100%;' type='number' value='' id='item_amount_" + itemNum + "' name='cantidad_" + itemNum + "'>";
        dataUnit.comment = "<input class='form-control input-add_product' value='' style='width:100%' id='item_comment_" + itemNum + "' name='observacion_" + itemNum + "'>";
        dataUnit.price = "<input class='form-control pull-left input-add_product' style='width: 100%;' type='number' id='item_price_" + itemNum + "' name='unitValue_" + itemNum + "'>";
        dataUnit.concept = "<input class='form-control input-add_product autocomplete-reference' style='width:100%' id='item_concept_" + itemNum + "'><input class='form-control input-add_product autocomplete-reference-value hidden' style='width:100%' id='item_concept_value_" + itemNum + "' name='conceptId_" + itemNum + "'>";
        dataUnit.cost_center = "<input class='form-control input-add_product autocomplete-reference' value='' style='width:100%' id='item_cost_center_" + itemNum + "'><input class='form-control input-add_product autocomplete-reference-value hidden' value='' style='width:100%' id='item_cost_center_value_" + itemNum + "' name='ccoId_" + itemNum + "'>";
        dataUnit.delete = "<a class='delete text-danger text-center' href='#'><i class='fa fa-trash'></i></a>";
        dataUnit.subtotal = "<p id='item_subtotal_" + itemNum + "'>0</p>";
        dataUnit.tax = "<select class='form-control' id='item_tax_" + itemNum + "' name='taxId_" + itemNum + "'></select>"

        var dataSet = [];
        dataSet.push(dataUnit);

        tableProduct.rows.add(dataSet).draw();

        var currentPerception = $("#perception").val();

        $.ajax({
                method: "GET",
                url: "/Finantial/Invoice/GetConcepts",
                data: {
                    ratePerception: currentPerception
                },
                async: false
            })
            .done(function(result) {
                var jsonResult = jQuery.parseJSON(result);
                if (!jQuery.isEmptyObject(jsonResult)) {
                    $('#item_concept_' + itemNum).typeahead({
                        source: jsonResult
                    });

                }
            })
            .fail(function(result) {
                toastr.error(result.statusText, "Mensaje", {
                    positionClass: "toast-top-full-width"
                });
            });


        $.ajax({
                method: "GET",
                url: "/Finantial/Invoice/GetCenterCost",
                async: false
            })
            .done(function(result) {
                var jsonResult = jQuery.parseJSON(result);
                if (!jQuery.isEmptyObject(jsonResult)) {
                    $('#item_cost_center_' + itemNum).typeahead({
                        source: jsonResult
                    });
                }
            })
            .fail(function(result) {
                toastr.error(result.statusText, "Mensaje", {
                    positionClass: "toast-top-full-width"
                });
            });

        $(".autocomplete-reference").change(function() {
            var type_value = $(this).typeahead("getActive");
            $(this).parent().find(".autocomplete-reference-value").val(type_value.Value);
        });

        $("#item_tax_" + itemNum).chosen({
            width: "100%",
            disable_search: true
        });

        initialize_combo_ajax("#item_tax_" + itemNum, "/Finantial/Invoice/GetTaxes", false);
        update_chosen_select("#item_tax_" + itemNum, $("#taxe").val());

        itemNum++;

    }

    // Calcular total de productos
    function calculate_total() {
        var sellValue = 0.0;
        var totalTax = 0.0;
        var totalPorc = 0.0;

        tableProduct.rows().every(function(rowIdx, tableLoop, rowLoop) {
            var curData = this.data();
            var price = $('#item_price_' + curData.item).val();
            var amount = $('#item_amount_' + curData.item).val();
            var taxVal = $('#item_tax_' + curData.item + ' :selected').text().split("-");
            var tax = $.trim(taxVal[1].split("%")[0]);
            var porc = 0;

            if ($("#perceptionLabel").css("display") == "inline-block") {
                porc = $('#perception :selected').text();
            }

            var curSubTotal = price * amount;

            $('#item_subtotal_' + curData.item).text(curSubTotal);

            sellValue += curSubTotal;
            totalTax += curSubTotal * tax / 100;
            totalPorc += curSubTotal * porc / 100;
        })

        $('#venta').text(sellValue);
        $('#impuesto').text(totalTax);
        $('#totalValor').text(sellValue + totalTax);
        $('#percepcionImport').text(totalPorc);
        $('#totalACobrar').text(sellValue + totalTax + totalPorc);
    }

    //--------------------------------------------------------- Fin modificacion Ale
    function edit_invoice(invoice) {
        update_chosen_select("#invoiceType", invoice.documentType);
        var invoiceData = $("#invoiceType").val();
        $.ajax({
                method: "GET",
                url: "/Finantial/Invoice/GetSeries",
                data: {
                    doctype: invoiceData
                },
                async: false
            })
            .done(function(result) {
                var jsonResult = jQuery.parseJSON(result);
                combo_box = $("#idSerieExterno");
                var default_value = invoice.serie;
                $.each(jsonResult, function(index, value) {
                    combo_box.append("<option>" + value.Value + "</option>");
                });
                combo_box.val(default_value);
                combo_box.trigger("chosen:updated");

            })
            .fail(function(result) {
                toastr.error(result.statusText, "Mensaje", {
                    positionClass: "toast-top-full-width"
                });
            });
        $("#invoiceType").prop('disabled', true).trigger("chosen:updated");
        $("#idSerieExterno").prop('disabled', true).trigger("chosen:updated");
        $("#idDocExt").html(invoice.documentExt);
        $("#invoiceId").html(invoice.documentId);
        $("#fechaDoc").val(invoice.documentDate);
        $("#fechaVenc").val(invoice.expirationDate);
        $("#clientCode").html(invoice.clientCode);
        $("#porcNumber").val(invoice.TaxPorc);
        update_chosen_select("#currency", invoice.currency);
        $("#taxe").val(invoice.TaxId);
        $("#taxe").prop('disabled', true).trigger("chosen:updated");
        $("#nameInput").val(invoice.clientName);
        $("#dirInputContent").val(invoice.clientAddressDescription);
        $("#dirInput").val(invoice.clientAddressId);
        $("#docInput").val(invoice.clientId);
        $("#glosa").val(invoice.glosa);
        update_chosen_select("#tipoVenta", invoice.typeSell);
        update_chosen_select("#language", invoice.language);
        update_chosen_select("#condVenta", invoice.condSell);
        var condition = invoice.condSell;
        $.ajax({
                method: "GET",
                url: "/Finantial/Invoice/GetPayments",
                data: {
                    cond_sell: condition
                },
                async: false
            })
            .done(function(result) {
                var jsonResult = jQuery.parseJSON(result);
                if (!jQuery.isEmptyObject(jsonResult)) {
                    populate_combo_box("#formaPago", jsonResult);
                }
            })
            .fail(function(result) {
                toastr.error(result.statusText, "Mensaje", {
                    positionClass: "toast-top-full-width"
                });
            });
        $.ajax({
                method: "GET",
                url: "/Finantial/Invoice/GetInvoiceAdresses",
                data: {
                    clientId: invoice.clientCode
                }
            })
            .done(function(result) {
                var jsonResult = jQuery.parseJSON(result);
                if (!jQuery.isEmptyObject(jsonResult)) {
                    populate_combo_box("#dirInputSelect", jsonResult);
                    update_chosen_select("#dirInputSelect", invoice.clientAddressId);
                }
            })
            .fail(function(result) {
                toastr.error(result.statusText, "Mensaje", {
                    positionClass: "toast-top-full-width"
                });
            });        
        update_chosen_select("#formaPago", invoice.payment);
        update_chosen_select("#lineaNegocio", invoice.bussinessLine);
        update_chosen_select("#codFinanciero", invoice.finantialCode);
        $("#phoneInput").val(invoice.clientPhone);
        update_chosen_select("#vendedor", invoice.Seller);
        if (invoice.perception == "") {
            $('#perception_chosen').hide();
            $('#perceptionLabel').hide();
            update_chosen_select("#perception", "");
        } else {
            $('#perception_chosen').show();
            $('#perceptionLabel').show();
            update_chosen_select("#perception", invoice.perception);
        }
        if (invoice.donate == "S")
            $("#donacionCB").prop('checked', true);
        else
            $("#donacionCB").prop('checked', false);

        $("#serNumber").val(invoice.documentTypeRef);
        $("#nroInt").val(invoice.documentTypeId);
        $("#nroDocRef").val(invoice.documentSerieRef);
        $("#nroDocRefExt").val(invoice.documentNroDoceRef);

        $.ajax({
                method: "GET",
                url: "/Finantial/Invoice/DocumentFlg",
                data: {
                    documentType: invoice.documentType
                }
            })
            .done(function(result) {
                var jsonResult = jQuery.parseJSON(result);
                if (!jQuery.isEmptyObject(jsonResult)) {
                    if (jsonResult[0].Content == "N") {
                        $(".docFlgTrigger").hide();
                        $("#serNumber").val("");
                        $("#nroInt").val("");
                        $("#nroDocRef").val("");
                        $("#nroDocRefExt").val("");
                    } else {
                        $(".docFlgTrigger").show();
                    }
                }
            })
            .fail(function(result) {
                toastr.error(result.statusText, "Mensaje", {
                    positionClass: "toast-top-full-width"
                });
            });
    }

    $(".autocomplete-reference").change(function() {
        var type_value = $(this).typeahead("getActive");
        $(this).parent().find(".autocomplete-reference-value").val(type_value.Value);
    });

    function edit_products_detail(documentType, documentId) {
        console.log("ingresa edit");
        var idDoc = $("#invoiceId").html();
        $.ajax({
                method: "GET",
                url: "/Finantial/Invoice/GetInvoiceDetail",
                data: {
                    documentType: documentType,
                    documentId: documentId
                },
                async: false
            })
            .done(function(result) {
                var jsonResult = jQuery.parseJSON(result);
                console.log("----------------------Lineas");
                console.log(result);
                console.log(jsonResult);
                if (!jQuery.isEmptyObject(jsonResult)) {
                    edit_product_line(jsonResult, idDoc);
                    calculate_total();
                }
            })
            .fail(function(result) {
                console.log("falla");
                toastr.error(result.statusText, "Mensaje", {
                    positionClass: "toast-top-full-width"
                });
            });
    }

    function edit_product_line(jsonResult, iDoc) {
        //var itemNum = jsonResult.length;
        var itemNum = 0;
        $.each(jsonResult, function(index, value) {
            var subtotal = value.price * value.amount;
            var dataUnit = {
                "porc": "5"
            };
            dataUnit.item = itemNum;
            subtotal = value.price * value.amount;
            dataUnit.amount = "<input class='form-control pull-left input-add_product' style='width: 100%;' type='number' value='" + value.amount + "' id='item_amount_" + itemNum + "' name='cantidad_" + itemNum + "'>";
            dataUnit.comment = "<input class='form-control input-add_product' value='" + value.commentary + "' style='width:100%' id='item_comment_" + itemNum + "' name='observacion_" + itemNum + "'>";
            dataUnit.price = "<input class='form-control pull-left input-add_product' value='" + value.price + "' style='width: 100%;' type='number' id='item_price_" + itemNum + "' name='unitValue_" + itemNum + "'>";
            dataUnit.concept = "<input class='form-control input-add_product autocomplete-reference' value='" + value.conceptContent + "' style='width:100%' id='item_concept_" + itemNum + "'><input class='form-control input-add_product autocomplete-reference-value hidden' value='" + value.conceptId + "' style='width:100%' id='item_concept_value_" + itemNum + "' name='conceptId_" + itemNum + "'>";
            dataUnit.cost_center = "<input class='form-control input-add_product autocomplete-reference' value='" + value.ccoContent + "' style='width:100%' id='item_cost_center_" + itemNum + "'><input class='form-control input-add_product autocomplete-reference-value hidden' value='" + value.ccoId + "' style='width:100%' id='item_cost_center_value_" + itemNum + "' name='ccoId_" + itemNum + "'>";
            dataUnit.delete = "<a class='delete text-danger text-center' href='#'><i class='fa fa-trash'></i></a>";
            dataUnit.subtotal = "<p id='item_subtotal_" + itemNum + "'>" + subtotal + "</p>";
            dataUnit.tax = "<select class='form-control' value='" + value.taxPorc + "' id='item_tax_" + itemNum + "' name='taxId_" + itemNum + "'></select>"

            var dataSet = [];
            dataSet.push(dataUnit);

            tableProduct.rows.add(dataSet).draw();

            $(".autocomplete-reference").change(function() {
                var type_value = $(this).typeahead("getActive");
                $(this).parent().find(".autocomplete-reference-value").val(type_value.Value);
            });
            /*CORREGIR
                        var type_value_concept = $('#item_concept_' + itemNum).typeahead("getActive");
                        var type_value_cost_center = $('#item_cost_center_' + itemNum).typeahead("getActive");

                        $('#item_concept_val_' + itemNum).val(type_value_concept.Value);
                        $('#item_cost_center_val_' + itemNum).val(type_value_cost_center.Value);
                */
            var currentPerception = $("#perception").val();

            $.ajax({
                    method: "GET",
                    url: "/Finantial/Invoice/GetConcepts",
                    data: {
                        ratePerception: currentPerception
                    },
                    async: false
                })
                .done(function(result) {
                    var jsonResult = jQuery.parseJSON(result);
                    if (!jQuery.isEmptyObject(jsonResult)) {
                        $('#item_concept_' + itemNum).typeahead({
                            source: jsonResult
                        });

                    }
                })
                .fail(function(result) {
                    toastr.error(result.statusText, "Mensaje", {
                        positionClass: "toast-top-full-width"
                    });
                });


            $.ajax({
                    method: "GET",
                    url: "/Finantial/Invoice/GetCenterCost",
                    async: false
                })
                .done(function(result) {
                    var jsonResult = jQuery.parseJSON(result);
                    if (!jQuery.isEmptyObject(jsonResult)) {
                        $('#item_cost_center_' + itemNum).typeahead({
                            source: jsonResult
                        });
                    }
                })
                .fail(function(result) {
                    toastr.error(result.statusText, "Mensaje", {
                        positionClass: "toast-top-full-width"
                    });
                });

            $("#item_tax_" + itemNum).chosen({
                width: "100%",
                disable_search: true
            });

            initialize_combo_ajax("#item_tax_" + itemNum, "/Finantial/Invoice/GetTaxes", false);
            update_chosen_select("#item_tax_" + itemNum, value.taxId);

            itemNum++;

        });
    }

    //--------------------------------------------------------------------------------EDIT

    $.ajax({
            method: "GET",
            url: "/Finantial/Invoice/GetInvoice",
            data: {
                documentType: '@ViewBag.documentType',
                documentId: '@ViewBag.documentId'
            },
            async: false
        })
        .done(function(result) {
            var jsonResult = jQuery.parseJSON(result);
            if (!jQuery.isEmptyObject(jsonResult)) {
                edit_invoice(jsonResult[0]);
                console.log("edit !!!!!!!!!!");
                edit_products_detail('@ViewBag.documentType', '@ViewBag.documentId');
            }
        })
        .fail(function(result) {
            toastr.error(result.statusText, "Mensaje", {
                positionClass: "toast-top-full-width"
            });
        });

    $("#btnPDF").click(function() {
        console.log("click");
        $.ajax({
                method: "GET",
                url: "/Finantial/Invoice/GeneratePDF",
                data: {
                    documentType: '@ViewBag.documentType',
                    documentId: '@ViewBag.documentId'
                },
                async: false
            })
            .done(function(result) {

            })
            .fail(function(result) {
                toastr.error(result.statusText, "Mensaje", {
                    positionClass: "toast-top-full-width"
                });
            });
    });

    //----------------------------------------------------------------------------FIN EDIT

    // Verificar que todos los campos esten completos
    function verify_complete() {
        var amount = $('#item_amount_' + (itemNum - 1)).val();
        var comment = $('#item_comment_' + (itemNum - 1)).val();
        var price = $('#item_price_' + (itemNum - 1)).val();
        var concept = $('#item_concept_' + (itemNum - 1)).val();
        var cost_center = $('#item_cost_center_' + (itemNum - 1)).val();
        var tax = $('#item_tax_' + (itemNum - 1)).val();

        console.log(tax)

        if (amount != "" && comment != "" && price != "" && concept != "" && cost_center != "" && tax != null) {
            $('#botonAgregarProducto').prop("disabled", false);
        }
    }

}

<div class="tabs-container">
    <form id="formInvoice" method="post" class="">
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                   
                    <div id ="spinner" class="sk-spinner sk-spinner-wave" style="position: absolute; left: 50%; top: 50%; z-index:3;">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Elección del cliente</a>
                                </h5>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                   
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h2>
                                                    Información del cliente
                                                    <button id="botonBuscarCliente" type="button" class="btn btn btn-primary pull-right" data-toggle="modal" data-target="#modalCliente"> <i class="fa fa-search"></i> Buscar</button>
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <input value ='@ViewBag.documentId' hidden name="documentId">
                                                            <input id="clientCode" class="hidden" name="clienteCode">
                                                            <input id="invoiceId" class="hidden">
                                                            <label id="docLabel" class="pull-left form-separation"> DNI/RUC </label>
                                                            <input readonly type="text" class="form-control emulate-label" id="docInput" name="ClientId" required>
                                                            <label class="pull-left form-separation"> Teléfono </label>
                                                            <input type="text" class="form-control" id="phoneInput" name="telephone" required>
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <label class="pull-left form-separation"> Nombre </label>
                                                            <input type="text" class="form-control" id="nameInput" name="clientName" required>
                                                        </div>
                                                    </div>
                                                    <div class=row>
                                                        <div class="col-sm-12">
                                                            <label class="pull-left form-separation"> Dirección</label>
                                                            <input id="dirInput" class="form-control hidden" type="text" name="addressId" required>
                                                            <input id="dirInputContent" class="form-control hidden" type="text" name="invoiceAddress" required>
                                                            <select class="form-control" id="dirInputSelect" required></select>
                                                            <label style="margin-top: 30px;margin-bottom: -30px;"> <input id="clienteOcasionalCB" type="checkbox" class="i-checks" name=""> Cliente ocasional </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="col-sm-6">
                                                    <label style="left:inherit" class="form-label-separation">Condición de la venta</label>
                                                    <select id="condVenta" class="form-control" name="condSell" required></select>
                                                    <label style="left:inherit" class="form-label-separation">Forma de pago</label>
                                                    <select id="formaPago" class="form-control" name="payment" required></select>
                                                    <label style="left:inherit" class="form-label-separation">Vendedor</label>
                                                    <select id="vendedor" class="form-control" name="seller" required></select>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label style="left:inherit" class="form-label-separation">Tipo de venta</label>
                                                    <select id="tipoVenta" class="form-control" name="sellType" required></select>
                                                    <label style="left:inherit" class="form-label-separation">Código Financiero</label>
                                                    <select id="codFinanciero" class="form-control" name="finantialcod" required></select>
                                                    <label style="left:inherit" class="form-label-separation">Línea de negocio</label>
                                                    <select id="lineaNegocio" class="form-control" name="bussinessline" required></select>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Tipo de Comprobante</a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <fieldset>
                                        <h2>Información documento</h2>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <label style="left:inherit" class="form-label-separation">Tipo de Doc.</label>
                                                            <input value='@ViewBag.documentType' name="documentType" hidden>
                                                            <select id="invoiceType" class="form-control" required></select>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label style="left:inherit" class="form-label-separation">Serie Externo</label>
                                                            <select id="idSerieExterno" class="form-control" name="serie" required></select>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label style="left:inherit" class="form-label-separation">Nro Doc Externo</label>
                                                            <label id="idDocExt" class="form-control"></label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div id="data_1" class="col-sm-4">
                                                            <label class="pull-left form-separation"> Fecha de Documento </label>
                                                            <div class="input-group date">
                                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input id="fechaDoc" type="text" class="form-control currentDateDefault" name="documentDate" required>
                                                            </div>
                                                        </div>
                                                        <div id="data_1" class="col-sm-4">
                                                            <label class="pull-left form-separation"> Fecha de vencimiento </label>
                                                            <div class="input-group date">
                                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input id="fechaVenc" type="text" class="form-control currentDateDefault" name="documentExpiration" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2"></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <label style="left:inherit" class="form-label-separation">Moneda</label>
                                                            <select id="currency" class="form-control" name="currency" required></select>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label style="left:inherit" class="form-label-separation">Idioma</label>
                                                            <select id="language" class="form-control" name="language" required></select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <label style="left:inherit" class="form-label-separation">Impuesto</label>
                                                            <input id="taxeNumber" type="hidden" />
                                                            <select id="taxe" class="form-control" name="codTax" required></select>
                                                        </div>
                                                        <div id="toHide" class="col-sm-4">
                                                            <label id="perceptionLabel" style="left:inherit" class="form-label-separation typeInput">Percepción</label>
                                                            <select id="perception" class="form-control" name="perception"></select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <label class="pull-left form-separation"> Número O/C </label>
                                                            <input id="nroOC" type="text" class="form-control" name="documentOc">
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <label class="pull-left form-separation"> Nro guía remisión </label>
                                                            <input id="nroGuiaRem" type="text" class="form-control" name="guiRem">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="text-center">
                                                    <label class="pull-left form-separation"> Glosa </label>
                                                    <textarea id="glosa" class="form-control" rows="5" name="glosa"></textarea>
                                                </div>
                                                <label style="left:inherit" class="form-label-separation"><input id="donacionCB" type="checkbox" class="i-checks"> Donación</label>
                                                <div class="row">
                                                    <div class="col-sm-10">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <label class="typeInput docFlgTrigger">Doc. Ref.</label><!--el style="left:inherit" class="form-label-separation">Doc Ref.-->
                                                        <button id="botonBuscarSerie" type="button" class="btn btn btn-primary pull-left typeInput docFlgTrigger" data-toggle="modal" data-target="#modalSeries"> <i class="fa fa-search"></i> Buscar</button>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <label class="pull-left form-separation typeInput docFlgTrigger"> Tipo </label>
                                                        <input id="serNumber" readonly type="text" class="form-control emulate-label pull-right typeInput docFlgTrigger" name="documentTypeRef">
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label class="pull-left form-separation typeInput docFlgTrigger"> Nro. Int.</label>
                                                        <input id="nroInt" readonly type="text" class="form-control emulate-label typeInput docFlgTrigger" name="documentIdRef">
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <label class="pull-left form-separation typeInput docFlgTrigger"> Ser. </label>
                                                        <input id="nroDocRef" type="text" class="form-control typeInput docFlgTrigger" name="serieExtRef">
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <label class="pull-left form-separation typeInput docFlgTrigger"> Nro. Ext. </label>
                                                        <input id="nroDocRefExt" type="text" class="form-control typeInput docFlgTrigger" name="nroDoceExt">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <label style="left:inherit" class="form-label-separation">Trabajador</label>
                                                        <div class="input-group m-b">
                                                            <span class="input-group-btn">
                                                                <button disabled="disabled" id="botonBuscarCliente" type="button" class="btn btn btn-primary pull-left"> <i class="fa fa-search"></i> Buscar</button>
                                                            </span> <input readonly type="text" class="form-control emulate-label">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Selección del producto</a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <fieldset>
                                        <h2>
                                            Elija un producto
                                            <button id="botonAgregarProducto" type="button" class="btn btn btn-primary pull-right">Agregar <i class="fa fa-plus" aria-hidden="true"></i></button>
                                        </h2>
                                        <div class="row">
                                            <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline" id="tableProducts"></table>
                                        </div>
                                        <div class="row">
                                            <div style="float: right; width: 30%; margin-right: 30px;">
                                                <div class="row">
                                                    <p class="col-sm-8"><strong>Valor Venta</strong></p>
                                                    <p id="venta" class="text-right col-sm-4">0</p>
                                                </div>
                                                <div class="row">
                                                    <p class="col-sm-8"><strong>Valor Impuesto</strong></p>
                                                    <p id="impuesto" class="text-right col-sm-4 labe-sum-underline">0</p>
                                                </div>
                                                <div class="row">
                                                    <p class="col-sm-8"><strong>Valor Total</strong></p>
                                                    <p id="totalValor" class="text-right col-sm-4">0</p>
                                                </div>
                                                <div class="row">
                                                    <p class="col-sm-8"><strong>Importe Percepcion</strong></p>
                                                    <p id="percepcionImport" class="text-right col-sm-4 labe-sum-underline">0</p>
                                                </div>
                                                <div class="row">
                                                    <p class="col-sm-8"><strong>Total por Cobrar</strong></p>
                                                    <p id="totalACobrar" class="text-right col-sm-4">0</p>
                                                </div>
                                            </div>
                                        </div>

                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center" style="margin-top: 50px;">
                            <div class="ibox-footer text-right">
                                <button class="btn btn-white"><i class="fa fa-reply" aria-hidden="true"></i> Atras</button>
                                <button id="btnSubmit" class="btn btn-primary" type="button">Guardar <i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal inmodal modal" id="modalCliente" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-new-width">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Clientes</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-8">
                        <label class="pull-left form-separation"> Filter </label>
                        <input type="text" class="form-control" id="filterInput">
                    </div>
                    <div class="col-sm-4">
                        <button id="btnFilter" type="button" class="btn btn btn-primary pull-right" style="margin-top: 34px;"> <i class="fa fa-search"></i> Buscar</button>
                    </div>
                </div>
                <div class="row">
                    <table id="seleccionarCliente" class="table table-striped table-bordered" cellspacing="0"></table>
                </div>
            </div>
            <div class="modal-footer">
                <button id="modalClientOk" class="btn btn-white" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal modal" id="modalSeries" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-new-width">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Facturas</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-8">
                        <label class="pull-left form-separation"> Filter </label>
                        <input type="text" class="form-control" id="filterInputSerie">
                    </div>
                    <div class="col-sm-4">
                        <button id="btnFilterSerie" type="button" class="btn btn btn-primary pull-right" style="margin-top: 34px;"> <i class="fa fa-search"></i> Buscar</button>
                    </div>
                </div>
                <div class="row">
                    <table id="seleccionarSerie" class="table table-striped table-bordered" cellspacing="0"></table>
                </div>
            </div>
            <div class="modal-footer">
                <button id="modalSerieOk" class="btn btn-white" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal modal" id="modalCliente" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-new-width">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Clientes</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-8">
                        <label class="pull-left form-separation"> Filter </label>
                        <input type="text" class="form-control" id="filterInput">
                    </div>
                    <div class="col-sm-4">
                        <button id="btnFilter" type="button" class="btn btn btn-primary pull-right" style="margin-top: 34px;"> <i class="fa fa-search"></i> Buscar</button>
                    </div>
                </div>
                <div class="row">
                    <table id="seleccionarCliente" class="table table-striped table-bordered" cellspacing="0"></table>
                </div>
            </div>
            <div class="modal-footer">
                <button id="modalClientOk" class="btn btn-white" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal modal" id="modalSeries" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-new-width">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Facturas</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-8">
                        <label class="pull-left form-separation"> Filter </label>
                        <input type="text" class="form-control" id="filterInputSerie">
                    </div>
                    <div class="col-sm-4">
                        <button id="btnFilterSerie" type="button" class="btn btn btn-primary pull-right" style="margin-top: 34px;"> <i class="fa fa-search"></i> Buscar</button>
                    </div>
                </div>
                <div class="row">
                    <table id="seleccionarSerie" class="table table-striped table-bordered" cellspacing="0"></table>
                </div>
            </div>
            <div class="modal-footer">
                <button id="modalSerieOk" class="btn btn-white" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
