
@{
    ViewBag.Title = "Resumen documento "+ ViewBag.documentType +"-"+ ViewBag.documentId +"-"+ ViewBag.documentSerie +"-"+ ViewBag.documentExt;
    ViewBag.Section = "Facturación";
    Layout = "~/Views/_Layout.cshtml";

}

@section styles_link {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css" />

    @Html.StyleLink("css/bootstrap.min.css");
    @Html.StyleLink("font-awesome/css/font-awesome.css");
    @Html.StyleLink("css/plugins/iCheck/custom.css");
    @Html.StyleLink("css/plugins/steps/jquery.steps.css");
    @Html.StyleLink("css/animate.css");
    @Html.StyleLink("css/style.css");

    @Html.StyleLink("css/plugins/chosen/bootstrap-chosen.css");
    @Html.StyleLink("css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css");

    @Html.StyleLink("css/plugins/sweetalert/sweetalert.css")
    <style type="text/css">
        body {
            padding-right: 0 !important;
        }

        .form-separation {
            margin-bottom: 7px;
            margin-top: 7px;
        }

        .form-label-separation {
            margin-bottom: 10px;
            margin-top: 7px;
        }

        .form-separation-extra {
            margin-bottom: 11px;
        }

        .dataTables_filter {
            width: 50%;
            float: right;
            text-align: right;
        }

        .button-separation {
            margin-left: 12px;
            margin-right: 12px;
        }

        .selected {
            background-color: #acbad4 !important;
        }

        .emulate-label {
            border-left: 0 !important;
            border-right: 0 !important;
            border-top: 0 !important;
            background: #eee !important;
        }

        .labe-sum-underline {
            border-bottom: 3px solid #000000 !important;
        }

        .modal-new-width {
            width: 800px !important;
        }

        .tabIcon:before {
            content: "\f192";
            margin-right: 5px;
        }

        .tabIcon {
            padding: 10px 20px !important;
        }
    </style>
}
@section scripts_link {
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>

    @Html.JavaScriptLink("js/jquery-2.1.1.js")
    @Html.JavaScriptLink("js/bootstrap.min.js")
    @Html.JavaScriptLink("js/plugins/metisMenu/jquery.metisMenu.js")
    @Html.JavaScriptLink("js/plugins/slimscroll/jquery.slimscroll.min.js")

    <!-- Custom and plugin javascript -->
    @Html.JavaScriptLink("js/inspinia.js")
    @Html.JavaScriptLink("js/plugins/pace/pace.min.js")

    <!-- Steps -->
    @Html.JavaScriptLink("js/plugins/staps/jquery.steps.min.js")

    <!-- Jquery Validate -->
    @Html.JavaScriptLink("js/plugins/validate/jquery.validate.min.js")

    @Html.JavaScriptLink("js/plugins/dataTables/datatables.min.js")
    @Html.JavaScriptLink("js/plugins/iCheck/icheck.min.js")

    @Html.JavaScriptLink("js/plugins/datapicker/bootstrap-datepicker.js")
    @Html.JavaScriptLink("js/plugins/chosen/chosen.jquery.js")
    @Html.JavaScriptLink("js/plugins/typehead/bootstrap3-typeahead.min.js")

    @Html.JavaScriptLink("js/plugins/sweetalert/sweetalert.min.js")

    <script>
        var currentDate = new Date();
        var month = currentDate.getMonth() + 1;
        var day = currentDate.getDate();
        var dateOutput = (day < 10 ? '0' : '') + day + '/' + (month < 10 ? '0' : '') + month + '/' + currentDate.getFullYear();

        $(".currentDateDefault").val(dateOutput);
    </script>
}

@section section_script {

    var tableProduct = $('#tableProducts').DataTable({
        "bPaginate": false,
        "bLengthChange": false,
        "bFilter": false,
        "bInfo": false,
        "bAutoWidth": false,
        "paging": true,
        columns: [
        { title: "Concepto", data: "concept"},
        { title: "Comentario", data: "comment"},
        { title: "Centro de costos", data: "cost_center"},
        { title: "Impuesto", data: "tax"},
        { title: "Valor Unitario", data: "price"},
        { title: "Cantidad", data: "amount"},
        { title: "Subtotal", data: "subtotal"}
        ]
    });

    tableProduct.page.len( 5 ).draw();

    $('#btnAtras').click(function(){
		parent.history.back();
		return false;
	});

    $('#btnAnular').click(function () {
        swal({
            title: "¿Estás seguro?",
            text: "No podrás recuperar esta factura",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Sí",
            closeOnConfirm: false
        }, function () {
            $.ajax({ method: "POST", url: "/Finantial/Invoice/DeleteInvoice", data:{documentType: '@ViewBag.documentType', documentId: '@ViewBag.documentId'} })
                .done(function (result) {
                    var jsonResult = jQuery.parseJSON(result);
                    if(jsonResult == 0){
                        swal("No se eliminó", "Tu factura no se anuló, ocurrió un error.", "error");
                    } else {
                        swal("Eliminado!", "Tu factura se anuló", "success");
                    }
                }).fail(function (result) {
                    swal("No se eliminó", "Tu factura no se anuló, ocurrió un error.", "error");
                });
        });
    });

    $('#btnPDF').click(function () {
         var url = "./GenerateReporte?documentType=" +  '@ViewBag.documentType' + "&documentId=" +  '@ViewBag.documentId';
         window.location.href = url;       
    });

    $('#btnEditar').click(function () {
        var url = "./Edit?invoiceSerie=" + '@ViewBag.documentType' + "&invoiceNumber=" + '@ViewBag.documentId';
        window.location.href = url;
    });

}

<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
           <div class="ibox-title">
                <h5>Información del cliente</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5 control-label">Código: </label>
                            <div class="col-md-7">
                                <p class="form-control-static">@ViewBag.clientCode</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">DNI/RUC: </label>
                            <div class="col-md-7">
                                <p class="form-control-static">@ViewBag.clientId</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Teléfono: </label>
                            <div class="col-md-7">
                                <p class="form-control-static">@ViewBag.clientPhone</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Condición de la venta</label>
                            <div class="col-md-7">
                                <p class="form-control-static">@ViewBag.condSell</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Línea de negocio</label>
                            <div class="col-md-7">
                                <p class="form-control-static">@ViewBag.bussinessLine</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Vendedor</label>
                            <div class="col-md-7">
                                <p class="form-control-static">@ViewBag.seller</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5 control-label">Nombre: </label>
                            <div class="col-md-7">
                                <p class="form-control-static">@ViewBag.clientName</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Dirección: </label>
                            <div class="col-md-7">
                                <p class="form-control-static">@ViewBag.clientAddress</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Forma de pago</label>
                            <div class="col-md-7">
                                <p class="form-control-static">@ViewBag.payment</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Código Financiero</label>
                            <div class="col-md-7">
                                <p class="form-control-static">@ViewBag.finantialCode</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Tipo de venta</label>
                            <div class="col-md-7">
                                <p class="form-control-static">@ViewBag.sellType</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
           <div class="ibox-title">
                <h5>Información del documento</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5 control-label">Fecha de Documento</label>
                            <div class="col-md-7">
                                <p class="form-control-static">@ViewBag.documentDate</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Moneda</label>
                            <div class="col-md-7">
                                <p class="form-control-static">@ViewBag.currency</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Impuesto</label>
                            <div class="col-md-7">
                                <p class="form-control-static">@ViewBag.tax</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Nro. orden de compra</label>
                            <div class="col-md-7">
                                <p class="form-control-static">@ViewBag.nroOc</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Documento referencia</label>
                            <div class="col-md-7">
                                <p class="form-control-static">@ViewBag.documentTypeRef - @ViewBag.documentIdRef - @ViewBag.documentSerieRef - @ViewBag.documentExtRef</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5 control-label">Fecha de Vencimiento</label>
                            <div class="col-md-7">
                                <p class="form-control-static">@ViewBag.documentVenc</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Idioma</label>
                            <div class="col-md-7">
                                <p class="form-control-static">@ViewBag.language</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Percepción</label>
                            <div class="col-md-7">
                                <p class="form-control-static">@ViewBag.perception</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Nro. guía de remisión</label>
                            <div class="col-md-7">
                                <p class="form-control-static">@ViewBag.nroGuiRem</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Donación</label>
                            <div class="col-md-7">
                                <p class="form-control-static">@ViewBag.donate</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5 control-label">Glosa</label>
                            <div class="col-md-7">
                                <p class="form-control-static">@ViewBag.glosa</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
           <div class="ibox-title">
                <h5>Productos</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline" id="tableProducts">
                    @if (ViewBag.detail != null)
                    {
                        foreach (var product in ViewBag.detail)
                        {
                            <tr>
                                <td>@product.concept</td>
                                <td>@product.observation</td>
                                <td>@product.cco</td>
                                <td>@product.price</td>
                                <td>@product.cant</td>
                                <td>@product.taxDetail</td>
                                <td>@product.subtotal</td>
                            </tr>
                        }
                    }
                    </table>
                </div>
                <div class="row">
                    <div style="float: right; width: 30%; margin-right: 30px;">
                        <div class="row">
                            <p class="col-sm-8"><strong>Importe Base</strong></p>
                            <p class="text-right col-sm-4">@ViewBag.impBase</p>
                        </div>
                        <div class="row">
                            <p class="col-sm-8"><strong>Importe Venta</strong></p>
                            <p class="text-right col-sm-4">@ViewBag.impVta</p>
                        </div>
                        <div class="row">
                            <p class="col-sm-8"><strong>Impuesto</strong></p>
                            <p class="text-right col-sm-4">@ViewBag.impIGV</p>
                        </div>
                        <div class="row">
                            <p class="col-sm-8"><strong>Importe Percepcion</strong></p>
                            <p class="text-right col-sm-4">@ViewBag.impPerc</p>
                        </div>
                        <div class="row">
                            <p class="col-sm-8"><strong>Total por Cobrar</strong></p>
                            <p class="text-right col-sm-4">@ViewBag.impTot</p>
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <button id="btnAtras" type="button" class="btn btn btn-default"><i class="fa fa-mail-reply" aria-hidden="true"></i> Atrás</button>
                        <button id="btnAnular" type="button" class="btn btn btn-primary"><i class="fa fa-close" aria-hidden="true"></i> Anular</button>
                        <button id="btnPDF" type="button" class="btn btn btn-primary"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Imprimir</button>
                        <button id="btnEditar" type="button" class="btn btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</button>
                        <button id="btnSUNAT" type="button" class="btn btn btn-primary"><i class="fa fa-institution" aria-hidden="true"></i> Sunat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

